{% extends 'base.html.twig' %}

{% block title 'France Transition' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('homepage') }}
{% endblock %}

{% block body %}
    <div class="homepage-background">
        <div class="fr-container fr-py-6w homepage-intro">
            <div class="main-title">
                <div class="fr-grid-row fr-mb-4w">
                    <div class="col-12 mt-text-align-center"><h2>Vous voulez financer la transition écologique de votre entreprise ?</h2></div>
                </div>
                <div class="fr-grid-row">
                    <div class="col-12 mt-text-align-center mt-ma">
                        <h5>
                            Vous êtes au bon endroit. Mission Transition Écologique accompagne les petites et moyennes entreprises dans leur recherche de  financement publique pour leur transition écologique.
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div id="search-engine-extension" class="fr-pb-6w"></div>
    </div>
    <div class="fr-container fr-pb-9w fr-pt-6w funders">
        <p class="fr-text--lead mt-text-align-center"><span>425 aides publiques actuellement recensées sur la plateforme</span><br>Quelques-uns des financeurs : </p>
        <div class="fr-grid-row fr-mb-3w">
            <div class="col-8 funders_logo_1">
                <img src="{{ asset('build/img/logo_commission_europeenne.svg') }}" alt="logo Commission Européenne" width="192px">
                <img src="{{ asset('build/img/logo_ademe.svg') }}" alt="logo ademe" width="68px">
                <img src="{{ asset('build/img/logo_bpi.svg') }}" alt="logo BPI" width="161px">
                <img src="{{ asset('build/img/logo_bdt.svg') }}" alt="logo banque des territoires" width="317px">
                <img src="{{ asset('build/img/logo_france_agri_mer.svg') }}" alt="logo france agrimer" width="142px">
                <img src="{{ asset('build/img/logo_cci_with_text.svg') }}" alt="logo chambre de commerce et de l'industrie" width="136px">
            </div>
        </div>
        <div class="fr-grid-row">
            <div class="col-8 funders_logo_2">
                <img src="{{ asset('build/img/logo_nouvelle_aquitaine.svg') }}" alt="logo nouvelle aquitaine" width="144px">
                <img src="{{ asset('build/img/logo_ile_de_france.svg') }}" alt="logo région île de France" width="185px">
                <img src="{{ asset('build/img/logo_PACA.svg') }}" alt="logo région sud PACA" width="176px">
                <img src="{{ asset('build/img/logo_BFC.svg') }}" alt="logo région bourgogne franche comté" width="161px">
                <img src="{{ asset('build/img/logo_grand_est.svg') }}" alt="logo grand est" width="139px">
                <img src="{{ asset('build/img/logo_occitanie.svg') }}" alt="logo occitanie" width="72px">
                <img src="{{ asset('build/img/logo_guadeloupe.svg') }}" alt="logo guadeloupe" width="91px">
            </div>
        </div>
    </div>
    <div class="main-cta">
        <div class="fr-container fr-pb-9w fr-pt-6w main-cta_content">
            <div class="fr-card fr-enlarge-link">
                <div class="fr-card__body">
                    <h4 class="fr-card__title">
                        <a href="{{ path('information_contact_advisor') }}" class="fr-card__link">Contacter un conseiller</a>
                    </h4>
                    <p class="fr-card__desc">
                        Vous cherchez une réponse à votre question ?
                        Notre module “Rappel par un conseiller” vous propose de poser votre question et d’être rappelé par un conseiller spécialisé.</p>
                </div>
                <div class="fr-card__img">
                    <img src="{{ asset('build/img/illu_3.svg') }}" class="fr-responsive-img" alt="">
                </div>
            </div>
            <div class="fr-card fr-enlarge-link">
                <div class="fr-card__body">
                    <h4 class="fr-card__title">
                        <a href="#" class="fr-card__link">Comprendre les aides publiques et la transition écologique</a>
                    </h4>
                    <p class="fr-card__desc">Des explications sur le fonctionnement des aides publiques  et sur les projets possibles pour la transition écologique de votre entreprise.</p>
                </div>
                <div class="fr-card__img">
                    <img src="{{ asset('build/img/illu_1.svg') }}" class="fr-responsive-img" alt="">
                </div>
            </div>
            <div class="fr-card fr-enlarge-link">
                <div class="fr-card__body">
                    <h4 class="fr-card__title">
                        <a href="{{ path('information_who_are_we') }}" class="fr-card__link">Qui sommes nous ?</a>
                    </h4>
                    <p class="fr-card__desc">
                        En savoir plus sur notre plateforme, nos objectifs actuels et futurs et l’ensemble des parternaires engagés dans ce projet.
                    </p>
                </div>
                <div class="fr-card__img">
                    <img src="{{ asset('build/img/illu_mt.svg') }}" class="fr-responsive-img" alt="" width="250px">
                </div>
            </div>
        </div>
    </div>
    <div class="fr-follow">
        <div class="fr-container">
            <div class="fr-grid-row">
                <div class="fr-col-12">
                    <div class="fr-follow__newsletter">
                        <div>
                            <h5 class="fr-h5 fr-follow__title">On a besoin de vous !</h5>
                            <p class="fr-text--sm fr-follow__desc">Un aide financière qui manque sur la plateforme ? Des bugs que vous aimeriez remonter ? Faites nous vos retours pour nous aider à améliorer notre outil.</p>
                        </div>
                        <div>
                            <button class="fr-btn" title="Accéder au formulaire de contact" type="button">
                                Nous contacter #AFAIRE
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts%}
    {{ parent() }}
    {{ encore_entry_script_tags('homepage') }}
{% endblock %}
