{% extends 'base.html.twig' %}

{% block title 'France Transition' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('homepage') }}
{% endblock %}

{% block body %}
    <div class="homepage-background">
        <div class="fr-container fr-py-6w homepage-intro">
            <div class="fr-grid-row">
                <div class="col-12 fr-mb-4w mt-text-align-center main-title"><h1><span class="color-green-menthe">Accélérez</span> et <span class="color-green-menthe">financez</span> la transition écologique de votre entreprise.</h1></div>
                <div class="col-12 mt-text-align-center search" id="search-engine-extension"></div>
            </div>
        </div>
    </div>
    <div class="main-cta">
        <div class="fr-container">
            <div class="fr-grid-row fr-pt-9w fr-grid-row--center">
                <h2 class="fr-h1 color-navy">Mieux comprendre...</h2>
            </div>
        </div>
        <div class="fr-container fr-pb-9w fr-pt-4w main-cta_content">
            <div class="fr-card fr-enlarge-link">
                <div class="fr-card__body">
                    <h4 class="fr-card__title">
                        <a href="{{ path('information_tee_knowledge') }}" class="fr-card__link">La transition écologique</a>
                    </h4>
                    <p class="fr-card__desc">
                        Amorcer la transition écologique et énergétique de son entreprise, c’est respecter les ressources et les individus, tout en assurant la pérennité de ses activités. Retrouvez les informations utiles à votre entreprise autour de ces enjeux.
                    </p>
                </div>
                <div class="fr-card__img">
                    <img src="{{ asset('build/img/tee.svg') }}" class="fr-responsive-img" alt="">
                </div>
            </div>
            <div class="fr-card fr-enlarge-link">
                <div class="fr-card__body">
                    <h4 class="fr-card__title">
                        <a href="{{ path('information_tee_knowledge', {'section': 'aides-publiques'}) }}" class="fr-card__link">Les aides publiques</a>
                    </h4>
                    <p class="fr-card__desc">L’Etat soutient les TPE, PME et ETI dans leurs projets en faveur de la transition écologique et énergétique à travers de nombreuses aides d’Etat proposées par différents organismes au niveau régional, national et européen.</p>
                </div>
                <div class="fr-card__img">
                    <img src="{{ asset('build/img/aide_public.svg') }}" class="fr-responsive-img" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="fr-container--fluid bg-grey-magnolia">
        <div class="fr-container fr-py-7w">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 mt-text-align-center fr-pb-md-5w fr-pt-4w">
                    <h2 class="fr-h1 color-navy">Vous ne savez pas par où commencer ?</h2>
                </div>
                <div class="fr-col-12 fr-col-md-4">
                    <img src="{{ asset('build/img/illu4.svg') }}" class="fr-responsive-img" alt="">
                </div>
                <div class="fr-col-12 fr-col-md-6">
                    <div class="fr-grid-row">
                        <div class="fr-col-12">
                            <p>
                                L’expérience montre qu’il vaut mieux avoir d’abord un projet bien ciblé puis trouver l’aide adaptée plutôt que l’inverse.
                            </p>
                            <p class="fr-pt-3w">
                                Nous vous proposons des outils pour trouver les meilleures aides pour votre entreprise, et si nécessaire vous pouvez même prendre contact avec des experts de la transition écologique !
                            </p>
                        </div>
                        <div class="fr-col-12 fr-pt-3w">
                            <a href="{{ path('information_contact_advisor') }}" class="fr-btn fr-btn--secondary fr-icon-arrow-go-forward-line fr-btn--icon-right">
                                Contactez un conseiller
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fr-container">
        <div class="fr-grid-row fr-grid-row--center fr-py-7w">
            <div class="fr-col-12 mt-text-align-center">
                <h2 class="fr-h1 color-navy">Une sélection de dispositifs, pour démarrer...</h2>
            </div>
        </div>
        <div class="fr-grid-row fr-grid-row--center" id="show-more">
            <div class="fr-col-12 fr-pb-3w">
                <div class="fr-card fr-enlarge-link fr-card--horizontal fr-card--lg fr-pb-3w">
                    <div class="fr-card__body">
                        <div class="fr-card__content">
                            <h4 class="fr-card__title">
                                <a href="https://evenements.bpifrance.fr/jour-e/content/climatometre" target="_blank">Le Climatomètre</a>
                            </h4>
                            <p class="fr-card__desc">
                                Un outil d’autodiagnostic en ligne pour mesurer l’impact de votre activité sur l’environnement.
                            </p>
                            <div class="fr-card__start">
                                <p class="fr-card__detail fr-icon-warning-fill">Outil de diagnostique</p>
                            </div>
                            <div class="fr-card__end">
                                <p class="fr-card__detail fr-icon-warning-fill">Proposé par BPI France</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fr-col-12 fr-pb-3w">
                <div class="fr-card fr-enlarge-link fr-card--horizontal fr-card--lg">
                    <div class="fr-card__body">
                        <div class="fr-card__content">
                            <h4 class="fr-card__title">
                                <a href="https://www.economie.gouv.fr/plan-de-relance/profils/entreprises/bonus-ecologique" target="_blank">Le Bonus écologique</a>
                            </h4>
                            <p class="fr-card__desc">
                                Le bonus écologique est une aide à l’achat ou à la location d’un véhicule électrique, hydrogène ou hybride rechargeable neuf.
                            </p>
                            <div class="fr-card__start">
                                <p class="fr-card__detail fr-icon-warning-fill">Prime</p>
                            </div>
                            <div class="fr-card__end">
                                <div class="fr-card__icons fr-pb-3w">
                                <span class="mt-icon-wrapper mt-icon-wrapper--inline">
                                    <span class="mt-icon mt-icon--euro"></span>
                                </span>
                                    <span class="subtitle">de 1 000€ à 6 000€</span>
                                </div>
                                <p class="fr-card__detail fr-icon-warning-fill">Proposé par l'Etat</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fr-col-12 fr-pb-3w">
                <div class="fr-card fr-enlarge-link fr-card--horizontal fr-card--lg">
                    <div class="fr-card__body">
                        <div class="fr-card__content">
                            <h4 class="fr-card__title">
                                <a href="https://www.economie.gouv.fr/plan-de-relance/profils/entreprises/prime-conversion" target="_blank">La Prime à la conversion</a>
                            </h4>
                            <p class="fr-card__desc">
                                La prime à la conversion est une aide à l’achat ou à la location d’un véhicule peu polluant, en échange de la mise au rebut d’un véhicule.
                            </p>
                            <div class="fr-card__start">
                                <p class="fr-card__detail fr-icon-warning-fill">Prime</p>
                            </div>
                            <div class="fr-card__end">
                                <div class="fr-card__icons fr-pb-3w">
                                <span class="mt-icon-wrapper mt-icon-wrapper--inline">
                                    <span class="mt-icon mt-icon--euro"></span>
                                </span>
                                    <span class="subtitle">de 2 500€ à 9 000€</span>
                                </div>
                                <p class="fr-card__detail fr-icon-warning-fill">Proposé par l'Etat</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fr-col-12 fr-pb-3w hidden">
                <div class="fr-card fr-enlarge-link fr-card--horizontal fr-card--lg">
                    <div class="fr-card__body">
                        <div class="fr-card__content">
                            <h4 class="fr-card__title">
                                <a href="https://www.cci.fr/ressources/commerce-et-tourisme/transformation-des-commerces-et-du-tourisme/transition-ecologique" target="_blank">Accélération de la transition écologique</a>
                            </h4>
                            <p class="fr-card__desc">
                                Le dispositif vise à accélérer la transition écologique des artisans, commerçants et indépendants, par le financement de diagnostics et d’un accompagnement réalisés par les réseaux des CMA et CCI.
                            </p>
                            <div class="fr-card__start">
                                <p class="fr-card__detail fr-icon-warning-fill">Prime</p>
                            </div>
                            <div class="fr-card__end">
                                <div class="fr-card__icons fr-pb-3w">
                                <span class="mt-icon-wrapper mt-icon-wrapper--inline">
                                    <span class="mt-icon mt-icon--euro"></span>
                                </span>
                                    <span class="subtitle">gratuite (entre 300€ à 650€)</span>
                                </div>
                                <p class="fr-card__detail fr-icon-warning-fill">Proposé par l'Etat et la CCI</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fr-col-12 fr-pb-3w hidden">
                <div class="fr-card fr-enlarge-link fr-card--horizontal fr-card--lg">
                    <div class="fr-card__body">
                        <div class="fr-card__content">
                            <h4 class="fr-card__title">
                                <a href="https://les-aides.fr/aide/bZVlAH9GxfTeBGZeTUzZ4_Vm5mg71XvQIlrW/bpifrance/pret-eco-energie-pee.html" target="_blank">Prêt économies d’énergie</a>
                            </h4>
                            <p class="fr-card__desc">
                                Ce prêt finance les équipements éligibles aux Certificats d’Énergie (CEE).
                            </p>
                            <div class="fr-card__start">
                                <p class="fr-card__detail fr-icon-warning-fill">Prêt</p>
                            </div>
                            <div class="fr-card__end">
                                <div class="fr-card__icons fr-pb-3w">
                                <span class="mt-icon-wrapper mt-icon-wrapper--inline">
                                    <span class="mt-icon mt-icon--euro"></span>
                                </span>
                                    <span class="subtitle">500 000 €</span>
                                </div>
                                <p class="fr-card__detail fr-icon-warning-fill">Proposé par l'ADEME</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fr-col-12 fr-pb-3w hidden">
                <div class="fr-card fr-enlarge-link fr-card--horizontal fr-card--lg">
                    <div class="fr-card__body">
                        <div class="fr-card__content">
                            <h4 class="fr-card__title">
                                <a href="https://agirpourlatransition.ademe.fr/entreprises/dispositif-aide/tremplin-transition-ecologique-pme" target="_blank">Tremplin pour la transition écologique des PME</a>
                            </h4>
                            <p class="fr-card__desc">
                                Aides guichet pour financer vos projets de transition écologique.
                            </p>
                            <div class="fr-card__start">
                                <p class="fr-card__detail fr-icon-warning-fill">Subvention</p>
                            </div>
                            <div class="fr-card__end">
                                <div class="fr-card__icons fr-pb-3w">
                                <span class="mt-icon-wrapper mt-icon-wrapper--inline">
                                    <span class="mt-icon mt-icon--euro"></span>
                                </span>
                                    <span class="subtitle">50 000€ maximum</span>
                                </div>
                                <p class="fr-card__detail fr-icon-warning-fill">Proposé par l'ADEME</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fr-col-12 fr-pb-3w hidden">
                <div class="fr-card fr-enlarge-link fr-card--horizontal fr-card--lg">
                    <div class="fr-card__body">
                        <div class="fr-card__content">
                            <h4 class="fr-card__title">
                                <a href="https://diagecoflux.bpifrance.fr/" target="_blank">Diag Eco-Flux</a>
                            </h4>
                            <p class="fr-card__desc">
                                Accompagnement de 18 mois avec un expert pour analyser vos pratiques, définir un plan d’action, le mettre en place puis l’évaluer.
                            </p>
                            <div class="fr-card__start">
                                <p class="fr-card__detail fr-icon-warning-fill">Outil de diagnostique</p>
                            </div>
                            <div class="fr-card__end">
                                <div class="fr-card__icons fr-pb-3w">
                                <span class="mt-icon-wrapper mt-icon-wrapper--inline">
                                    <span class="mt-icon mt-icon--euro"></span>
                                </span>
                                    <span class="subtitle">Coût 2 000 à 3 000€</span>
                                </div>
                                <p class="fr-card__detail fr-icon-warning-fill">Proposé par BPI France</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fr-col-12 fr-pb-3w hidden">
                <div class="fr-card fr-enlarge-link fr-card--horizontal fr-card--lg">
                    <div class="fr-card__body">
                        <div class="fr-card__content">
                            <h4 class="fr-card__title">
                                <a href="https://www.bpifrance.fr/Toutes-nos-solutions/Prets/Prets-thematiques/Pret-Vert-ADEME" target="_blank">Prêt Vert</a>
                            </h4>
                            <p class="fr-card__desc">
                                Ce prêt pour aide à financer la mise en œuvre un projet de transition écologique et énergétique sur plusieurs thématiques
                            </p>
                            <div class="fr-card__start">
                                <p class="fr-card__detail fr-icon-warning-fill">Prêt</p>
                            </div>
                            <div class="fr-card__end">
                                <div class="fr-card__icons fr-pb-3w">
                                <span class="mt-icon-wrapper mt-icon-wrapper--inline">
                                    <span class="mt-icon mt-icon--euro"></span>
                                </span>
                                    <span class="subtitle">entre 10 000€ à 1 000 000€</span>
                                </div>
                                <p class="fr-card__detail fr-icon-warning-fill">Proposé par l'ADEME & BPI France</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fr-col-12 fr-pb-3w hidden">
                <div class="fr-card fr-enlarge-link fr-card--horizontal fr-card--lg">
                    <div class="fr-card__body">
                        <div class="fr-card__content">
                            <h4 class="fr-card__title">
                                <a href="https://agirpourlatransition.ademe.fr/entreprises/dispositif-aide/actions-faveur-transition-ecologique" target="_blank">Actions en faveur de la transition écologique</a>
                            </h4>
                            <p class="fr-card__desc">
                                Aide au recrutement / renouvellement d’un poste de chargé de mission ou à la mise en place d’actions de communication et formation sur la transition écologique.
                            </p>
                            <div class="fr-card__start">
                                <p class="fr-card__detail fr-icon-warning-fill">Subvention</p>
                            </div>
                            <div class="fr-card__end">
                                <div class="fr-card__icons fr-pb-3w">
                                <span class="mt-icon-wrapper mt-icon-wrapper--inline">
                                    <span class="mt-icon mt-icon--euro"></span>
                                </span>
                                    <span class="subtitle">Soumis à conditions</span>
                                </div>
                                <p class="fr-card__detail fr-icon-warning-fill">Proposé par l'ADEME</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fr-col-12 fr-pb-3w hidden">
                <div class="fr-card fr-enlarge-link fr-card--horizontal fr-card--lg">
                    <div class="fr-card__body">
                        <div class="fr-card__content">
                            <h4 class="fr-card__title">
                                <a href="https://www.aides-entreprises.fr/aide/9916?id_ter=1" target="_blank">VTE vert</a>
                            </h4>
                            <p class="fr-card__desc">
                                Prime pour financer le recrutement d’un jeune qui effectuera une mission en lien avec la transition énergétique et écologique de l’entreprise.
                            </p>
                            <div class="fr-card__start">
                                <p class="fr-card__detail fr-icon-warning-fill">Subvention</p>
                            </div>
                            <div class="fr-card__end">
                                <div class="fr-card__icons fr-pb-3w">
                                <span class="mt-icon-wrapper mt-icon-wrapper--inline">
                                    <span class="mt-icon mt-icon--euro"></span>
                                </span>
                                    <span class="subtitle">5 000€</span>
                                </div>
                                <p class="fr-card__detail fr-icon-warning-fill">Proposé par l'ADEME & BPI France</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fr-col-12 fr-pb-3w hidden">
                <div class="fr-card fr-enlarge-link fr-card--horizontal fr-card--lg">
                    <div class="fr-card__body">
                        <div class="fr-card__content">
                            <h4 class="fr-card__title">
                                <a href="https://www.aides-entreprises.fr/aide/9825?id_ter=1" target="_blank">Crédit d’impôt rénovation énergétique des locaux</a>
                            </h4>
                            <p class="fr-card__desc">
                                Travaux d’amélioration d’efficacité énergétique des bâtiments. Cette aide fait partie du Plan de Relance.
                            </p>
                            <div class="fr-card__start">
                                <p class="fr-card__detail fr-icon-warning-fill">Crédit d'impôt</p>
                            </div>
                            <div class="fr-card__end">
                                <div class="fr-card__icons fr-pb-3w">
                                <span class="mt-icon-wrapper mt-icon-wrapper--inline">
                                    <span class="mt-icon mt-icon--euro"></span>
                                </span>
                                    <span class="subtitle">5 000€</span>
                                </div>
                                <p class="fr-card__detail fr-icon-warning-fill">Proposé par le Ministère de la Transition écologique</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fr-col-12 fr-pb-3w hidden">
                <div class="fr-card fr-enlarge-link fr-card--horizontal fr-card--lg">
                    <div class="fr-card__body">
                        <div class="fr-card__content">
                            <h4 class="fr-card__title">
                                <a href="https://www.aides-entreprises.fr/aide/7473?id_ter=1" target="_blank">Aide à la réalisation de projets environnementaux</a>
                            </h4>
                            <p class="fr-card__desc">
                                Aide pour financer des études de diagnostic et Étude d’accompagnement de projet de transition
                            </p>
                            <div class="fr-card__start">
                                <p class="fr-card__detail fr-icon-warning-fill">Subvention</p>
                            </div>
                            <div class="fr-card__end">
                                <div class="fr-card__icons fr-pb-3w">
                                    <span class="mt-icon-wrapper mt-icon-wrapper--inline">
                                        <span class="mt-icon mt-icon--euro"></span>
                                    </span>
                                    <span class="subtitle">150 000 € maximum</span>
                                </div>
                                <p class="fr-card__detail fr-icon-warning-fill">Proposé par l'ADEME</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fr-col-12 fr-pt-2w fr-pb-4w button mt-text-align-center">
                <button class="fr-btn fr-btn--secondary fr-icon-arrow-go-forward-line fr-btn--icon-right">
                    Voir plus
                </button>
            </div>
        </div>
    </div>
{#    <div class="fr-container fr-pb-9w fr-pt-6w funders">#}
{#        <p class="fr-text--lead mt-text-align-center"><span>425 aides publiques actuellement recensées sur la plateforme</span><br>Quelques-uns des financeurs : </p>#}
{#        <div class="fr-grid-row fr-mb-3w">#}
{#            <div class="col-8 funders_logo_1">#}
{#                <img src="{{ asset('build/img/logo_commission_europeenne.svg') }}" alt="logo Commission Européenne" width="192px">#}
{#                <img src="{{ asset('build/img/logo_ademe.svg') }}" alt="logo ademe" width="68px">#}
{#                <img src="{{ asset('build/img/logo_bpi.svg') }}" alt="logo BPI" width="161px">#}
{#                <img src="{{ asset('build/img/logo_bdt.svg') }}" alt="logo banque des territoires" width="317px">#}
{#                <img src="{{ asset('build/img/logo_france_agri_mer.svg') }}" alt="logo france agrimer" width="142px">#}
{#                <img src="{{ asset('build/img/logo_cci_with_text.svg') }}" alt="logo chambre de commerce et de l'industrie" width="136px">#}
{#            </div>#}
{#        </div>#}
{#        <div class="fr-grid-row">#}
{#            <div class="col-8 funders_logo_2">#}
{#                <img src="{{ asset('build/img/logo_nouvelle_aquitaine.svg') }}" alt="logo nouvelle aquitaine" width="144px">#}
{#                <img src="{{ asset('build/img/logo_ile_de_france.svg') }}" alt="logo région île de France" width="185px">#}
{#                <img src="{{ asset('build/img/logo_PACA.svg') }}" alt="logo région sud PACA" width="176px">#}
{#                <img src="{{ asset('build/img/logo_BFC.svg') }}" alt="logo région bourgogne franche comté" width="161px">#}
{#                <img src="{{ asset('build/img/logo_grand_est.svg') }}" alt="logo grand est" width="139px">#}
{#                <img src="{{ asset('build/img/logo_occitanie.svg') }}" alt="logo occitanie" width="72px">#}
{#                <img src="{{ asset('build/img/logo_guadeloupe.svg') }}" alt="logo guadeloupe" width="91px">#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock %}

{% block javascripts%}
    {{ parent() }}
    {{ encore_entry_script_tags('homepage') }}
{% endblock %}
