<footer class="rf-footer" role="contentinfo" id="">
    <div class="rf-container">
        <div class="rf-footer__body">
            <div class="rf-footer__brand rf-enlarge-link">
                <a href="/" title="Retour à l’accueil">
                    <p class="rf-logo" title="république française">
                        république
                        <br>française
                    </p>
                    <a class="rf-footer__brand-link rf-ml-5w" href="/" title="Retour à l’accueil">
                        <img class="mt-sm-logo rf-footer__logo" src="{{ asset('build/img/logo_mt.svg') }}" alt="Mission Transition">
                    </a>
                </a>
            </div>
            <div class="rf-footer__content">
                <ul class="rf-footer__content-list">
                    <li class="rf-footer__content-item">
                        <a class="rf-footer__content-link" href="https://www.ecologie.gouv.fr/">ecologie.gouv.fr</a>
                    </li>
                    <li class="rf-footer__content-item">
                        <a class="rf-footer__content-link" href="https://www.economie.gouv.fr/">economie.gouv.fr</a>
                    </li>
                    <li class="rf-footer__content-item">
                        <a class="rf-footer__content-link" href="https://gouvernement.fr">gouvernement.fr</a>
                    </li>
                    <li class="rf-footer__content-item">
                        <a class="rf-footer__content-link" href="https://data.gouv.fr">data.gouv.fr</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="rf-footer__partners">
            <h4 class="rf-footer__partners-title">Nos partenaires</h4>
            <div class="rf-footer__partners-logos">
                <div class="rf-footer__partners-main">
                    <a class="footer__partners-link" href="https://place-des-entreprises.beta.gouv.fr/">
                        <img class="rf-footer__logo" src="{{ asset('build/img/logo_pde.svg') }}" alt="Place des Entreprises">
                    </a>
                </div>
                <div class="rf-footer__partners-sub">
                    <ul>
                        <li>
                            <a class="rf-footer__partners-link" href="https://www.ademe.fr/">
                                <img class="rf-footer__logo" src="{{ asset('build/img/logo_ademe.svg') }}" alt="ADEME">
                            </a>
                        </li>
                        <li>
                            <a class="rf-footer__partners-link" href="https://www.bpifrance.fr/">
                                <img class="rf-footer__logo" src="{{ asset('build/img/logo_bpi.svg') }}" alt="BPI France">
                            </a>
                        </li>
                        <li>
                            <a class="rf-footer__partners-link" href="https://www.cci.fr/">
                                <img class="rf-footer__logo" src="{{ asset('build/img/logo_cci.svg') }}" alt="CCI France">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="rf-footer__bottom">
            <ul class="rf-footer__bottom-list">
                <li class="rf-footer__bottom-item">
                    <a class="rf-footer__bottom-link" href="#">Plan du site</a>
                </li>
                <li class="rf-footer__bottom-item">
                    <a class="rf-footer__bottom-link" href="#">Accessibilité: partiellement</a>
                </li>
                <li class="rf-footer__bottom-item">
                    <a class="rf-footer__bottom-link" href="#">Mentions légales</a>
                </li>
                <li class="rf-footer__bottom-item">
                    <a class="rf-footer__bottom-link" href="#">Données personnelles</a>
                </li>
                <li class="rf-footer__bottom-item">
                    <a class="rf-footer__bottom-link" href="#">Gestion des cookies</a>
                </li>
            </ul>
            <div class="rf-footer__bottom-copy">
                <p>Sauf mention contraire, tous les textes de ce site sont sous <a href="https://github.com/etalab/licence-ouverte/blob/master/LO.md" target="_blank">licence etalab-2.0</a>
                </p>
            </div>
        </div>
    </div>
</footer>
