<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <p class="fr-logo">
                                République
                                <br>Française
                            </p>
                        </div>
                        <div class="fr-header__operator">
                            <img src="{{ asset('build/img/logo.svg') }}" alt="Logo Mission Transition Ecologique" style="width:3.5rem; height:auto;">
                        </div>
                        <div class="fr-header__navbar">
                            <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-833" aria-haspopup="menu" title="Menu">
                                Menu
                            </button>
                        </div>
                    </div>
                    <div class="fr-header__service">
                        <a href="/" title="Accueil - Mission Transition Ecologique">
                            <p class="fr-header__service-title">
                                Mission Transition Écologique <span class="fr-badge fr-badge--sm fr-badge--green-emeraude">BETA</span>
                            </p>
                        </a>
                        <p class="fr-header__service-tagline">Ensemble, passons à l'action !</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Navigation principale -->
    <div class="fr-header__menu fr-modal" id="modal-833" aria-labelledby="fr-btn-menu-mobile">
        <div class="fr-container">
            <button class="fr-link--close fr-link" aria-controls="modal-833">Fermer</button>
            <div class="fr-header__menu-links"></div>
            <nav class="fr-nav" id="navigation-773" role="navigation" aria-label="Menu principal">
                <div class="fr-container">
                    <ul class="fr-nav__list">
                        <li class="fr-nav__item">
                            <a class="fr-nav__link" {% if current_route is same as 'homepage'%} aria-current="page" {% endif %} href="{{ path('homepage') }}" target="_self">Accueil</a>
                        </li>
                        <li class="fr-nav__item">
                            <button class="fr-nav__btn" aria-expanded="false" aria-controls="menu-774">Comprendre</button>
                            <div class="fr-collapse fr-menu" id="menu-774">
                                <ul class="fr-menu__list">
                                    <li>
                                        <a class="fr-nav__link" href="{{ path('information_tee_knowledge') }}" target="_self"
                                                {% if current_route is same as 'information_tee_knowledge' and (section is not defined or section != 'aides-publiques') %} aria-current="page" {% endif %}>
                                            la transition écologique
                                        </a>
                                    </li>
                                    <li>
                                        <a class="fr-nav__link" href="{{ path('information_tee_knowledge', {'section': 'aides-publiques'}) }}" target="_self"
                                                {% if current_route is same as 'information_tee_knowledge' and (section is defined and section is same as 'aides-publiques') %} aria-current="page" {% endif %}>
                                            les aides publiques
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
        {#                <li class="fr-nav__item">#}
        {#                    <a class="fr-nav__link" {% if current_route is same as 'search_results'%} aria-current="page" {% endif %} href="{{ path('search_results') }}" target="_self">Lancer votre recherche</a>#}
        {#                </li>#}
                        <li class="fr-nav__item">
                            <a class="fr-nav__link" {% if current_route is same as 'information_contact_advisor'%} aria-current="page" {% endif %} href="{{ path('information_contact_advisor') }}" target="_self">Echanger avec un conseiller</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
