<header role="banner" class="fr-header">
    <div class="beta">
        <p class="subtitle mt-text-align-center">Le site Mission Transition est actuellement en version beta.</p>
    </div>
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <p class="fr-logo">
                                République
                                <br>Française
                            </p>
                        </div>
                        <div class="fr-header__operator">
                            <img src="{{ asset('build/img/logo.svg') }}" alt="Logo Mission Transition" style="width:3.5rem; height:auto;">
                        </div>
                        <div class="fr-header__navbar">
                            <button class="fr-btn--search fr-btn" data-fr-opened="false" aria-controls="modal-866" title="Rechercher">
                                Rechercher
                            </button>
                            <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-870" aria-haspopup="menu" title="Menu">
                                Menu
                            </button>
                        </div>
                    </div>
                    <div class="fr-header__service">
                        <a href="/" title="Accueil - Mission Transition">
                            <p class="fr-header__service-title">Mission Transition Écologique</p>
                        </a>
                        <p class="fr-header__service-tagline">Ensemble, passons à l'action !</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="fr-nav" id="navigation-773" role="navigation" aria-label="Menu principal">
        <div class="fr-container">
            <ul class="fr-nav__list">
                <li class="fr-nav__item">
                    <a class="fr-nav__link" {% if current_route is same as 'homepage'%} aria-current="page" {% endif %} href="{{ path('homepage') }}" target="_self">Accueil</a>
                </li>
                <li class="fr-nav__item">
                    <a class="fr-nav__link" {% if current_route is same as 'information_tee_knowledge'%} aria-current="page" {% endif %} href="{{ path('information_tee_knowledge') }}" target="_self">Comprendre</a>
                </li>
                <li class="fr-nav__item">
                    <a class="fr-nav__link" {% if current_route is same as 'search_results'%} aria-current="page" {% endif %} href="{{ path('search_results') }}" target="_self">Lancer votre recherche</a>
                </li>
                <li class="fr-nav__item">
                    <a class="fr-nav__link" {% if current_route is same as 'information_contact_advisor'%} aria-current="page" {% endif %} href="{{ path('information_contact_advisor') }}" target="_self">Poser une question</a>
                </li>
                <li class="fr-nav__item">
                    <a class="fr-nav__link" {% if current_route is same as 'information_who_are_we'%} aria-current="page" {% endif %} href="{{ path('information_who_are_we') }}" target="_self">Qui sommes-nous ?</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
