<div class="number-highlighted">
    <div class="number-highlighted__left fr-py-2w fr-px-sm-12w fr-px-2w">
        <div class="fr-grid-row">
            <div class="fr-col-12">
                <h3 class="color-navy">Le financement public pour la transition écologique et énergétique</h3>
                <p class="fr-text--lead">
                    L’Etat soutient les TPE, PME et ETI dans leurs projets en faveur de la Transition énergétique et écologique à travers de nombreuses Aides d’Etat. Les dispositifs d’aides sont proposés par différents organismes au iveau régional, national et européen.
                </p>
            </div>
        </div>
    </div>
    <div class="number-highlighted__right bg-green-menthe fr-p-3w">
        <p class="fr-text--lead color-white">
            <span class="key-figure">49%</span><br/>
            des 80% des dirigeants de PME-ETI qui sont conscients de l’urgence climatique pointent le manque de moyen financier pour y arriver
        </p>
    </div>
</div>

<div class="fr-container fr-p-5w">
    <div class="fr-grid-row">
        <div class="fr-col-12">
            <h2 class="fr-h1 color-navy">Quels types d’aides existe t’il ?</h2>
        </div>
    </div>
    <div class="fr-grid-row fr-pt-md-3w fr-pt-3v">
        <ul class="fr-tags-group" id="tag-filters">
            <li>
                <a href="#" class="fr-tag sort-aid-type active" aria-pressed="true" target="_self" data-filter=".subvention">Subvention</a>
            </li>
            <li>
                <a href="#" class="fr-tag sort-aid-type" target="_self" data-filter=".pret">Prêt</a>
            </li>
            <li>
                <a href="#" class="fr-tag sort-aid-type" target="_self" data-filter=".avance">Avance remboursable</a>
            </li>
            <li>
                <a href="#" class="fr-tag sort-aid-type" target="_self" data-filter=".bonus">Bonus et prime</a>
            </li>
            <li>
                <a href="#" class="fr-tag sort-aid-type" target="_self" data-filter=".reduction">Réduction et crédit d'impôt</a>
            </li>
        </ul>
    </div>
    <div class="fr-grid-row fr-pt-md-3v fr-pt-3v fr-pb-md-5w fr-pb-3v" id="tag-filter-content">
        <div class="fr-col-12 label-content subvention">
            <p>Aide financière versée par l'État ou une personne publique à une personne privée, physique ou morale, dans le but de favoriser l'activité d'intérêt général et n’est pas soumis à une obligation de remboursement.s</p>
        </div>
        <div class="fr-col-12 label-content pret">
            <p>Les prêts peuvent être avec ou sans garantie, c’est-à-dire avec ou sans sûreté sur les actifs de la société ou caution personnelle du dirigeant. Les prêts sont le plus souvent réalisés en cofinancement avec des partenaires privés. Le montant, le taux d’emprunt et la durée du prêt varie en fonction du dispositif.</p>
        </div>
        <div class="fr-col-12 label-content avance">
            <p>Prêt à taux 0 (PTZ) consenti à une entreprise pour financer certaines dépenses.</p>
        </div>
        <div class="fr-col-12 label-content bonus">
            <p>Aides d’Etat incitant l’investissement, l’achat, la location de certains équipements, véhicules ou le recrutement d’employés.</p>
        </div>
        <div class="fr-col-12 label-content reduction">
            <p>Réduction d’impôt incitant la réalisation de certains projets. Le crédit d'impôt se fait par le biais d’un remboursement.<br/>
                Les aides non-financières de l'État sont notamment des prises en charge par un expert, des outils de diagnostic comme le Climatomètre, des fiches pédagogiques etc.</p>
        </div>
    </div>
</div>

<div class="fr-container-fluid bg-blue-ecume-975">
    <div class="fr-container fr-p-5w">
        <div class="fr-grid-row">
            <div class="fr-col-12">
                <h2 class="fr-h1 color-navy">Quelles sont les démarches et conditions ?</h2>
            </div>
        </div>
        <div class="fr-grid-row fr-pt-md-4w fr-pt-1w">
            <ul class="fr-accordions-group">
                <li>
                    <section class="fr-accordion">
                        <h3 class="fr-accordion__title">
                            <button class="fr-accordion__btn" aria-expanded="true" aria-controls="accordion-89">Les démarches à connaitre en fonction du type d’aide et de dispositif</button>
                        </h3>
                        <div class="fr-collapse" id="accordion-89">
                            <p>
                                Le dispositif Tremplin porté par l’ADEME propose des subventions, un dossier doit être déposé sur le site de l’ADEME.<br/>
                                Le dispositif Mise à disposition de vélos aux salariés est à indiquer dans la déclaration d’impôt.<br/>
                                Le Bonus écologique pour l’achat d’un véhicule est directement pris en charge par le vendeur du véhicule, etc.<br/>
                                Les Appels à Projet proposent des subventions aux entreprises ayant été sélectionnées par l’organisme financeur pour des projets spécifiques. D’autre part les Appels à Projet sont des dispositifs temporaires ayant une date de clôture.
                            </p>
                        </div>
                    </section>
                </li>
                <li>
                    <section class="fr-accordion">
                        <h3 class="fr-accordion__title">
                            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-90">Les critères d’éligibilité dune aide en  fonction du dispositif</button>
                        </h3>
                        <div class="fr-collapse" id="accordion-90">
                            <p>
                                La taille de l’entreprise, souvent mesuré en fonction du nombre d’employés<br/>
                                L’âge de l’entreprise<br/>
                                La localisation<br/>
                                Le secteur d’activité<br/>
                                Le statut juridique : SAS, SARL, auto-entrepreneur, etc.<br/>
                                Le cumul avec des aides financières dont l’entreprise a déjà bénéficié<br/>
                                <br/>
                                Certains dispositifs ont une date de clôture après laquelle elles ne sont plus disponibles, en particulier les Appels à Projets.<br/>
                            </p>
                        </div>
                    </section>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="fr-container fr-pt-5w fr-pb-3v mt-text-align-center">
    <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col-12">
            <p class="fr-text--lead">425 aides publiques actuellement recensées sur la plateforme provenant de :</p>
        </div>
    </div>
</div>

<div class="fr-container-fluid fr-pb-5w">
    <div class="fr-grid-row fr-grid-row--center funders">
        <div class="fr-col-12 mt-text-align-center">
            <h3 class="fr-h3 color-navy fr-pb-md-5v fr-pb-3v">à l’échelle régionale</h3>
        </div>
        <div class="fr-col-12 funders_logo_1 mt-text-align-center">
            <img src="{{ asset('build/img/logo_cci_with_text.svg') }}" alt="logo chambre de commerce et de l'industrie" width="107px">
            <img src="{{ asset('build/img/logo_bdt.svg') }}" alt="logo banque des territoires" width="140px">
            <img src="{{ asset('build/img/logo_occitanie.svg') }}" alt="logo occitanie" width="57px">
            <img src="{{ asset('build/img/logo_nouvelle_aquitaine.svg') }}" alt="logo nouvelle aquitaine" width="114px">
            <img src="{{ asset('build/img/logo_ile_de_france.svg') }}" alt="logo région île de France" width="146px">
            <img src="{{ asset('build/img/logo_BFC.svg') }}" alt="logo région bourgogne franche comté" width="127px">
            <img src="{{ asset('build/img/logo_grand_est.svg') }}" alt="logo grand est" width="109px">
            <img src="{{ asset('build/img/logo_guadeloupe.svg') }}" alt="logo guadeloupe" width="71px">
            <img src="{{ asset('build/img/logo_PACA.svg') }}" alt="logo région sud PACA" width="82px">
        </div>
        <div class="fr-col-12 mt-text-align-center">
            <h3 class="fr-h3 color-navy fr-pt-md-6w fr-pb-md-5v fr-pt-3w fr-pb-3v">à l’échelle nationale</h3>
        </div>
        <div class="fr-col-12 funders_logo_2 mt-text-align-center">
            <img src="{{ asset('build/img/logo_ademe.svg') }}" alt="logo ademe" width="68px">
            <img src="{{ asset('build/img/logo_bpi.svg') }}" alt="logo BPI" width="161px">
            <img src="{{ asset('build/img/logo_mte.svg') }}" alt="logo Ministère de la Transition Écologique" width="117px">
        </div>
    </div>
</div>

<div class="fr-container-fluid bg-blue-ecume-975">
    <div class="fr-container fr-p-5w">
        <div class="fr-grid-row fr-grid-row--left fr-grid-row--middle">
            <div class="fr-col-12 fr-col-md-4">
                <h2 class="fr-h1 color-navy">Focus sur : </h2>
            </div>
            <div class="fr-col-12 fr-col-md-8">
                <ul class="fr-tags-group" id="funders-filters">
                    <li>
                        <a href="#" class="fr-tag sort-funders active" aria-pressed="true" target="_self" data-filter=".ademe" id="ademe-filter">ADEME</a>
                    </li>
                    <li>
                        <a href="#" class="fr-tag sort-funders" target="_self" data-filter=".bpi">Bpi France</a>
                    </li>
                    <li>
                        <a href="#" class="fr-tag sort-funders" target="_self" data-filter=".cci">Régions et CCI</a>
                    </li>
                    <li>
                        <a href="#" class="fr-tag sort-funders" target="_self" data-filter=".collectivites">Collectivités territoriales</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="fr-pt-md-3v fr-pt-3v fr-pb-md-5w fr-pb-3v" id="funders-filter-content">
            <div class="funder-content ademe">
                <div>
                    <img src="{{ asset('build/img/logo_ademe.svg') }}" alt="logo ademe">
                </div>
                <div>
                     <h3>L'Agence de la Transition Ecologique (ADEME)</h3>
                    <p>L’ADEME est une agence d’expertise environnementale : elle finance en priorité les Appels À Projets (AAP) et dans une moindre mesure des Aides :</p>
                    <ul class="fr-accordions-group fr-pt-3v">
                        <li>
                            <section class="fr-accordion">
                                <h3 class="fr-accordion__title">
                                    <button class="fr-accordion__btn" aria-expanded="true" aria-controls="accordion-91">Types de dispositifs proposés</button>
                                </h3>
                                <div class="fr-collapse" id="accordion-91">
                                    <p>
                                        Appels à Projets : l’ADEME définit un problème sur un thème précis (énergie, transport, industrie, agriculture, eau, biodiversité…) et appelle les entreprises à proposer des solutions, les projets. Les entreprises candidatent en déposant un dossier. L’ADEME sélectionne un ou plusieurs projets qu’elle accompagne et finance sous la forme de subvention.<br/><br/>
                                        Aides : financement pour des actions de transition écologique sous des contrats de gré à gré, c’est-à-dire dont les conditions sont fixées par les parties contractantes.
                                    </p>
                                </div>
                            </section>
                        </li>
                        <li>
                            <section class="fr-accordion">
                                <h3 class="fr-accordion__title">
                                    <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-92">Trouver les dispositifs</button>
                                </h3>
                                <div class="fr-collapse" id="accordion-92">
                                    <p>
                                        La taille de l’entreprise, souvent mesuré en fonction du nombre d’employés<br/>
                                        L’âge de l’entreprise<br/>
                                        La localisation<br/>
                                        Le secteur d’activité<br/>
                                        Le statut juridique : SAS, SARL, auto-entrepreneur, etc.<br/>
                                        Le cumul avec des aides financières dont l’entreprise a déjà bénéficié<br/>
                                        <br/>
                                        Certains dispositifs ont une date de clôture après laquelle elles ne sont plus disponibles, en particulier les Appels à Projets.<br/>
                                    </p>
                                </div>
                            </section>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="funder-content bpi">
                <div>
                    <img src="{{ asset('build/img/logo_bpi.svg') }}" alt="logo BPI">
                </div>
                <div>
                    <h3>Bpifrance, la banque du climat</h3>
                    <p>Bpifrance accompagne les entreprises à chaque étape de leur vie : de l'amorçage jusqu'à la cotation en bourse et propose de nombreuses solutions de financement du crédit aux fonds propres, des outils et conseils, notamment avec des dispositifs comme le Plan Climat, le Climatomètre, le Diag Eco-Flux et le Prêt Vert.</p>
                    <ul class="fr-accordions-group fr-pt-3v">
                        <li>
                            <section class="fr-accordion">
                                <h3 class="fr-accordion__title">
                                    <button class="fr-accordion__btn" aria-expanded="true" aria-controls="accordion-93">Recherche d’aides</button>
                                </h3>
                                <div class="fr-collapse" id="accordion-93">
                                    <p>
                                        Créez un compte sur bpifrance.fr et prenez rendez-vous avec votre conseiller Bpifrance.
                                    </p>
                                </div>
                            </section>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="funder-content cci">
                <div>
                    <img src="{{ asset('build/img/logo_cci_with_text.svg') }}" alt="logo CCI">
                </div>
                <div>
                    <h3>Les Régions et les Chambres de Commerce et d’Industrie : des points de contacts privilégiés</h3>
                    <p>Les Régions sont des partenaires importants dans l’accès aux aides d'État car de nombreux organismes et aides publiques sont définies à cette échelle. Les Régions et les Agences de Développement mettent à disposition des entreprises des chargés de mission pour les accompagner.<br/>
                        Les Agences de Développement ont pour mission d'accompagner les projets économiques des entreprises localisées dans leur région.<br/>
                        Le fonds européen de développement régional (FEDER) : la gestion de ces fonds est confiée aux conseils régionaux dont une partie est investie dans l’adaptation au changement climatique.<br/>
                        Le réseau Chambre de commerce et d'industrie (CCI) rassemble 125 établissements publics de niveau national, régional et de proximité. Les CCI représentent les intérêts des entreprises commerciales, industrielles et de services d'une zone géographique et leur apporte certains services.<br/>
                        Les CCI mettent à disposition des entreprises des conseillers régionalisés spécialistes de thèmes spécifiques (par exemple “écologie”, “développement durable”, “industrie” etc.)
                    </p>
                </div>
            </div>
            <div class="funder-content collectivites">
                <div>
                </div>
                <div>
                    <h3>Les Collectivités territoriales et les établissements publics offrent de nombreuses aides publiques</h3>
                    <p>Les collectivités territoriales sont des personnes morales de droit public et comprennent les régions, les départements, les communes et les établissement public de coopération intercommunale (EPCI) comme les métropoles, communauté de communes<br/>
                        Les établissements publics remplissent une mission d’intérêt général qui est définie par la collectivité territoriale dont ils dépendent, comme par exemple les Agences de l’Eau.<br/>
                        Retrouvez l’ensemble des aides publiques à l’échelle locale sur Aides-Territoires.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="fr-container">
    <div class="fr-grid-row fr-grid-row--center fr-py-7w">
        <div class="fr-col-12 mt-text-align-center">
            <h2 class="fr-h1 color-navy">Une sélection de dispositifs, pour démarrer...</h2>
        </div>
    </div>
    <div class="fr-grid-row fr-grid-row--center" id="show-more">
        <div class="fr-col-12 fr-pb-3w">
            <div class="fr-card fr-enlarge-link fr-card--horizontal fr-card--lg fr-pb-3w">
                <div class="fr-card__body">
                    <div class="fr-card__content">
                        <h4 class="fr-card__title">
                            <a href="https://evenements.bpifrance.fr/jour-e/content/climatometre" target="_blank">Le Climatomètre</a>
                        </h4>
                        <p class="fr-card__desc">
                            Un outil d’autodiagnostic en ligne pour mesurer l’impact de votre activité sur l’environnement.
                        </p>
                        <div class="fr-card__start">
                            <p class="fr-card__detail fr-icon-warning-fill">Outil de diagnostique</p>
                        </div>
                        <div class="fr-card__end">
                            <p class="fr-card__detail fr-icon-warning-fill">Proposé par BPI France</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fr-col-12 fr-pb-3w">
            <div class="fr-card fr-enlarge-link fr-card--horizontal fr-card--lg">
                <div class="fr-card__body">
                    <div class="fr-card__content">
                        <h4 class="fr-card__title">
                            <a href="https://www.economie.gouv.fr/plan-de-relance/profils/entreprises/bonus-ecologique" target="_blank">Le Bonus écologique</a>
                        </h4>
                        <p class="fr-card__desc">
                            Le bonus écologique est une aide à l’achat ou à la location d’un véhicule électrique, hydrogène ou hybride rechargeable neuf.
                        </p>
                        <div class="fr-card__start">
                            <p class="fr-card__detail fr-icon-warning-fill">Prime</p>
                        </div>
                        <div class="fr-card__end">
                            <div class="fr-card__icons fr-pb-3w">
                                <span class="mt-icon-wrapper mt-icon-wrapper--inline">
                                    <span class="mt-icon mt-icon--euro"></span>
                                </span>
                                <span class="subtitle">de 1 000€ à 6 000€</span>
                            </div>
                            <p class="fr-card__detail fr-icon-warning-fill">Proposé par l'Etat</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fr-col-12 fr-pb-3w">
            <div class="fr-card fr-enlarge-link fr-card--horizontal fr-card--lg">
                <div class="fr-card__body">
                    <div class="fr-card__content">
                        <h4 class="fr-card__title">
                            <a href="https://www.economie.gouv.fr/plan-de-relance/profils/entreprises/prime-conversion" target="_blank">La Prime à la conversion</a>
                        </h4>
                        <p class="fr-card__desc">
                            La prime à la conversion est une aide à l’achat ou à la location d’un véhicule peu polluant, en échange de la mise au rebut d’un véhicule.
                        </p>
                        <div class="fr-card__start">
                            <p class="fr-card__detail fr-icon-warning-fill">Prime</p>
                        </div>
                        <div class="fr-card__end">
                            <div class="fr-card__icons fr-pb-3w">
                                <span class="mt-icon-wrapper mt-icon-wrapper--inline">
                                    <span class="mt-icon mt-icon--euro"></span>
                                </span>
                                <span class="subtitle">de 2 500€ à 9 000€</span>
                            </div>
                            <p class="fr-card__detail fr-icon-warning-fill">Proposé par l'Etat</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fr-col-12 fr-pb-3w hidden">
            <div class="fr-card fr-enlarge-link fr-card--horizontal fr-card--lg">
                <div class="fr-card__body">
                    <div class="fr-card__content">
                        <h4 class="fr-card__title">
                            <a href="https://www.cci.fr/ressources/commerce-et-tourisme/transformation-des-commerces-et-du-tourisme/transition-ecologique" target="_blank">Accélération de la transition écologique</a>
                        </h4>
                        <p class="fr-card__desc">
                            Le dispositif vise à accélérer la transition écologique des artisans, commerçants et indépendants, par le financement de diagnostics et d’un accompagnement réalisés par les réseaux des CMA et CCI.
                        </p>
                        <div class="fr-card__start">
                            <p class="fr-card__detail fr-icon-warning-fill">Prime</p>
                        </div>
                        <div class="fr-card__end">
                            <div class="fr-card__icons fr-pb-3w">
                                <span class="mt-icon-wrapper mt-icon-wrapper--inline">
                                    <span class="mt-icon mt-icon--euro"></span>
                                </span>
                                <span class="subtitle">gratuite (entre 300€ à 650€)</span>
                            </div>
                            <p class="fr-card__detail fr-icon-warning-fill">Proposé par l'Etat et la CCI</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fr-col-12 fr-pb-3w hidden">
            <div class="fr-card fr-enlarge-link fr-card--horizontal fr-card--lg">
                <div class="fr-card__body">
                    <div class="fr-card__content">
                        <h4 class="fr-card__title">
                            <a href="https://les-aides.fr/aide/bZVlAH9GxfTeBGZeTUzZ4_Vm5mg71XvQIlrW/bpifrance/pret-eco-energie-pee.html" target="_blank">Prêt économies d’énergie</a>
                        </h4>
                        <p class="fr-card__desc">
                            Ce prêt finance les équipements éligibles aux Certificats d’Énergie (CEE).
                        </p>
                        <div class="fr-card__start">
                            <p class="fr-card__detail fr-icon-warning-fill">Prêt</p>
                        </div>
                        <div class="fr-card__end">
                            <div class="fr-card__icons fr-pb-3w">
                                <span class="mt-icon-wrapper mt-icon-wrapper--inline">
                                    <span class="mt-icon mt-icon--euro"></span>
                                </span>
                                <span class="subtitle">500 000 €</span>
                            </div>
                            <p class="fr-card__detail fr-icon-warning-fill">Proposé par l'ADEME</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fr-col-12 fr-pb-3w hidden">
            <div class="fr-card fr-enlarge-link fr-card--horizontal fr-card--lg">
                <div class="fr-card__body">
                    <div class="fr-card__content">
                        <h4 class="fr-card__title">
                            <a href="https://agirpourlatransition.ademe.fr/entreprises/dispositif-aide/tremplin-transition-ecologique-pme" target="_blank">Tremplin pour la transition écologique des PME</a>
                        </h4>
                        <p class="fr-card__desc">
                            Aides guichet pour financer vos projets de transition écologique.
                        </p>
                        <div class="fr-card__start">
                            <p class="fr-card__detail fr-icon-warning-fill">Subvention</p>
                        </div>
                        <div class="fr-card__end">
                            <div class="fr-card__icons fr-pb-3w">
                                <span class="mt-icon-wrapper mt-icon-wrapper--inline">
                                    <span class="mt-icon mt-icon--euro"></span>
                                </span>
                                <span class="subtitle">50 000€ maximum</span>
                            </div>
                            <p class="fr-card__detail fr-icon-warning-fill">Proposé par l'ADEME</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fr-col-12 fr-pb-3w hidden">
            <div class="fr-card fr-enlarge-link fr-card--horizontal fr-card--lg">
                <div class="fr-card__body">
                    <div class="fr-card__content">
                        <h4 class="fr-card__title">
                            <a href="https://diagecoflux.bpifrance.fr/" target="_blank">Diag Eco-Flux</a>
                        </h4>
                        <p class="fr-card__desc">
                            Accompagnement de 18 mois avec un expert pour analyser vos pratiques, définir un plan d’action, le mettre en place puis l’évaluer.
                        </p>
                        <div class="fr-card__start">
                            <p class="fr-card__detail fr-icon-warning-fill">Outil de diagnostique</p>
                        </div>
                        <div class="fr-card__end">
                            <div class="fr-card__icons fr-pb-3w">
                                <span class="mt-icon-wrapper mt-icon-wrapper--inline">
                                    <span class="mt-icon mt-icon--euro"></span>
                                </span>
                                <span class="subtitle">Coût 2 000 à 3 000€</span>
                            </div>
                            <p class="fr-card__detail fr-icon-warning-fill">Proposé par BPI France</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fr-col-12 fr-pb-3w hidden">
            <div class="fr-card fr-enlarge-link fr-card--horizontal fr-card--lg">
                <div class="fr-card__body">
                    <div class="fr-card__content">
                        <h4 class="fr-card__title">
                            <a href="https://www.bpifrance.fr/Toutes-nos-solutions/Prets/Prets-thematiques/Pret-Vert-ADEME" target="_blank">Prêt Vert</a>
                        </h4>
                        <p class="fr-card__desc">
                            Ce prêt pour aide à financer la mise en œuvre un projet de transition écologique et énergétique sur plusieurs thématiques
                        </p>
                        <div class="fr-card__start">
                            <p class="fr-card__detail fr-icon-warning-fill">Prêt</p>
                        </div>
                        <div class="fr-card__end">
                            <div class="fr-card__icons fr-pb-3w">
                                <span class="mt-icon-wrapper mt-icon-wrapper--inline">
                                    <span class="mt-icon mt-icon--euro"></span>
                                </span>
                                <span class="subtitle">entre 10 000€ à 1 000 000€</span>
                            </div>
                            <p class="fr-card__detail fr-icon-warning-fill">Proposé par l'ADEME & BPI France</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fr-col-12 fr-pb-3w hidden">
            <div class="fr-card fr-enlarge-link fr-card--horizontal fr-card--lg">
                <div class="fr-card__body">
                    <div class="fr-card__content">
                        <h4 class="fr-card__title">
                            <a href="https://agirpourlatransition.ademe.fr/entreprises/dispositif-aide/actions-faveur-transition-ecologique" target="_blank">Actions en faveur de la transition écologique</a>
                        </h4>
                        <p class="fr-card__desc">
                            Aide au recrutement / renouvellement d’un poste de chargé de mission ou à la mise en place d’actions de communication et formation sur la transition écologique.
                        </p>
                        <div class="fr-card__start">
                            <p class="fr-card__detail fr-icon-warning-fill">Subvention</p>
                        </div>
                        <div class="fr-card__end">
                            <div class="fr-card__icons fr-pb-3w">
                                <span class="mt-icon-wrapper mt-icon-wrapper--inline">
                                    <span class="mt-icon mt-icon--euro"></span>
                                </span>
                                <span class="subtitle">Soumis à conditions</span>
                            </div>
                            <p class="fr-card__detail fr-icon-warning-fill">Proposé par l'ADEME</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fr-col-12 fr-pb-3w hidden">
            <div class="fr-card fr-enlarge-link fr-card--horizontal fr-card--lg">
                <div class="fr-card__body">
                    <div class="fr-card__content">
                        <h4 class="fr-card__title">
                            <a href="https://www.aides-entreprises.fr/aide/9916?id_ter=1" target="_blank">VTE vert</a>
                        </h4>
                        <p class="fr-card__desc">
                            Prime pour financer le recrutement d’un jeune qui effectuera une mission en lien avec la transition énergétique et écologique de l’entreprise.
                        </p>
                        <div class="fr-card__start">
                            <p class="fr-card__detail fr-icon-warning-fill">Subvention</p>
                        </div>
                        <div class="fr-card__end">
                            <div class="fr-card__icons fr-pb-3w">
                                <span class="mt-icon-wrapper mt-icon-wrapper--inline">
                                    <span class="mt-icon mt-icon--euro"></span>
                                </span>
                                <span class="subtitle">5 000€</span>
                            </div>
                            <p class="fr-card__detail fr-icon-warning-fill">Proposé par l'ADEME & BPI France</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fr-col-12 fr-pb-3w hidden">
            <div class="fr-card fr-enlarge-link fr-card--horizontal fr-card--lg">
                <div class="fr-card__body">
                    <div class="fr-card__content">
                        <h4 class="fr-card__title">
                            <a href="https://www.aides-entreprises.fr/aide/9825?id_ter=1" target="_blank">Crédit d’impôt rénovation énergétique des locaux</a>
                        </h4>
                        <p class="fr-card__desc">
                            Travaux d’amélioration d’efficacité énergétique des bâtiments. Cette aide fait partie du Plan de Relance.
                        </p>
                        <div class="fr-card__start">
                            <p class="fr-card__detail fr-icon-warning-fill">Crédit d'impôt</p>
                        </div>
                        <div class="fr-card__end">
                            <div class="fr-card__icons fr-pb-3w">
                                <span class="mt-icon-wrapper mt-icon-wrapper--inline">
                                    <span class="mt-icon mt-icon--euro"></span>
                                </span>
                                <span class="subtitle">5 000€</span>
                            </div>
                            <p class="fr-card__detail fr-icon-warning-fill">Proposé par le Ministère de la Transition écologique</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fr-col-12 fr-pb-3w hidden">
            <div class="fr-card fr-enlarge-link fr-card--horizontal fr-card--lg">
                <div class="fr-card__body">
                    <div class="fr-card__content">
                        <h4 class="fr-card__title">
                            <a href="https://www.aides-entreprises.fr/aide/7473?id_ter=1" target="_blank">Aide à la réalisation de projets environnementaux</a>
                        </h4>
                        <p class="fr-card__desc">
                            Aide pour financer des études de diagnostic et Étude d’accompagnement de projet de transition
                        </p>
                        <div class="fr-card__start">
                            <p class="fr-card__detail fr-icon-warning-fill">Subvention</p>
                        </div>
                        <div class="fr-card__end">
                            <div class="fr-card__icons fr-pb-3w">
                                <span class="mt-icon-wrapper mt-icon-wrapper--inline">
                                    <span class="mt-icon mt-icon--euro"></span>
                                </span>
                                <span class="subtitle">150 000 € maximum</span>
                            </div>
                            <p class="fr-card__detail fr-icon-warning-fill">Proposé par l'ADEME</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fr-col-12 fr-pt-2w fr-pb-4w button mt-text-align-center">
            <button class="fr-btn fr-btn--secondary fr-icon-arrow-go-forward-line fr-btn--icon-right">
                Voir plus
            </button>
        </div>
    </div>
</div>
