<div class="number-highlighted">
    <div class="number-highlighted__left fr-py-2w fr-px-sm-12w fr-px-2w">
        <div class="fr-grid-row">
            <div class="fr-col-12">
                <h3 class="color-navy">La transition écologique des entreprises</h3>
                <p class="fr-text--lead">
                    Amorcer la transition écologique et énergétique de son entreprise, <br/>c’est respecter les ressources et les individus, tout en assurant la pérennité de ses activités. <br/>C’est s’engager pour un monde plus résilient. <br/>Ici, vous trouverez des informations utiles à votre entreprise  autour de ces enjeux.
                </p>
            </div>
        </div>
    </div>
    <div class="number-highlighted__right bg-blue-default-france fr-p-3w">
        <p class="fr-text--lead color-white">
            <span class="key-figure">40%</span>
            des entreprises industrielles pourraient réduire leur émission en repensant la production de leurs produits
        </p>
    </div>
</div>

<div class="fr-container fr-pt-md-12w fr-pt-5w">
    <div class="fr-grid-row">
        <div class="fr-col-12 mt-text-align-center">
            <h2 class="fr-h1 color-navy">Comment engager la transition de mon entreprise ?</h2>
        </div>
    </div>

    <div class="fr-grid-row fr-pb-3w">
        <div class="fr-col-12 fr-col-sm-4 fr-pr-md-4w fr-pt-2w fr-pt-md-7w">
            <div class="fr-card fr-enlarge-link">
                <div class="fr-card__body">
                    <h4 class="fr-card__title">
                        <a href="{{ path('information_knowledge_energie') }}" class="fr-card__link">Gestion énergétique</a>
                    </h4>
                    <p class="fr-card__desc">Comprendre et aller vers une gestion de l’énergie plus respectueuse de l’environnement pour votre entreprise</p>
                </div>
                <div class="fr-card__img">
                    <img src="{{ asset('build/img/gestion_energetique.svg') }}" class="fr-responsive-img" alt="">
                </div>
            </div>
        </div>
        <div class="fr-col-12 fr-col-sm-4 fr-pr-md-4w fr-pt-2w fr-pt-md-7w">
            <div class="fr-card fr-enlarge-link">
                <div class="fr-card__body">
                    <h4 class="fr-card__title">
                        <a href="{{ path('information_knowledge_mobilite') }}" class="fr-card__link">Mobilité durable</a>
                    </h4>
                    <p class="fr-card__desc">Aller vers des modes de déplacement plus respectueux de l’environnement pour votre entreprise</p>
                </div>
                <div class="fr-card__img">
                    <img src="{{ asset('build/img/mobilite_durable.svg') }}" class="fr-responsive-img" alt="">
                </div>
            </div>
        </div>
        <div class="fr-col-12 fr-col-sm-4 fr-pt-2w fr-pt-md-7w ">
            <div class="fr-card fr-enlarge-link">
                <div class="fr-card__body">
                    <h4 class="fr-card__title">
                        <a href="{{ path('information_knowledge_batiment') }}" class="fr-card__link">Bâtiment durable</a>
                    </h4>
                    <p class="fr-card__desc">Construire vos bâtiments d’entreprise dans le respect de l’environnement, c’est possible. Découvrez comment.</p>
                </div>
                <div class="fr-card__img">
                    <img src="{{ asset('build/img/batiment_durable.svg') }}" class="fr-responsive-img" alt="">
                </div>
            </div>
        </div>
        {#<div class="fr-col-12 fr-col-sm-4 fr-pr-md-4w fr-pt-2w fr-pt-md-7w">#}
            {#<div class="fr-card fr-enlarge-link">#}
                {#<div class="fr-card__body">#}
                    {#<h4 class="fr-card__title">#}
                        {#<a href="#" class="fr-card__link">Economie circulaire</a>#}
                    {#</h4>#}
                    {#<p class="fr-card__desc">Utiliser plus efficacement les ressources tout en respectant l’environnement tout au long du cycle de production</p>#}
                {#</div>#}
                {#<div class="fr-card__img">#}
                    {#<img src="{{ asset('build/img/economie_circulaire.svg') }}" class="fr-responsive-img" alt="">#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<div class="fr-col-12 fr-col-sm-4 fr-pr-md-4w fr-pt-2w fr-pt-md-7w">#}
            {#<div class="fr-card fr-enlarge-link">#}
                {#<div class="fr-card__body">#}
                    {#<h4 class="fr-card__title">#}
                        {#<a href="#" class="fr-card__link">Innovations durables</a>#}
                    {#</h4>#}
                    {#<p class="fr-card__desc">Limiter l’impact environnemental, social et économique dans la création de vos nouveaux produits et usages</p>#}
                {#</div>#}
                {#<div class="fr-card__img">#}
                    {#<img src="{{ asset('build/img/innovations_durables.svg') }}" class="fr-responsive-img" alt="">#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<div class="fr-col-12 fr-col-sm-4 fr-pt-2w fr-pt-md-7w">#}
            {#<div class="fr-card fr-enlarge-link">#}
                {#<div class="fr-card__body">#}
                    {#<h4 class="fr-card__title">#}
                        {#<a href="#" class="fr-card__link">Achat et logistique</a>#}
                    {#</h4>#}
                    {#<p class="fr-card__desc">Utiliser plus efficacement les ressources tout en respectant l’environnement tout au long du cycle de production</p>#}
                {#</div>#}
                {#<div class="fr-card__img">#}
                    {#<img src="{{ asset('build/img/achat_et_logistique.svg') }}" class="fr-responsive-img" alt="">#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<div class="fr-col-12 fr-col-sm-4 fr-pt-2w fr-pt-md-7w fr-pb-md-9w fr-pb-2w">#}
            {#<div class="fr-card fr-enlarge-link">#}
                {#<div class="fr-card__body">#}
                    {#<h4 class="fr-card__title">#}
                        {#<a href="#" class="fr-card__link">Ecosystèmes</a>#}
                    {#</h4>#}
                    {#<p class="fr-card__desc">Conserver et restaurer les écosystèmes naturels pour préserver la biodiversité dont nous profitons chaque jour</p>#}
                {#</div>#}
                {#<div class="fr-card__img">#}
                    {#<img src="{{ asset('build/img/ecosystemes.svg') }}" class="fr-responsive-img" alt="">#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    </div>
</div>
