{% extends 'base.html.twig' %}

{% block title %}Contacter un conseiller{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('contact_advisor') }}
{% endblock %}

{% block body %}
    <div class="contact-advisor fr-container-fluid bg-beige">
        <div class="contact-advisor__header mt-text-align-center fr-pt-12w">
            <h1 class="fr-display-xs">Une question ?</h1>
            <h5 class="fr-pt-4w color-navy">Simple et rapide :<br>
                vous êtes rappelé par <span class="highlighted">LE</span> conseiller qui peut vous aider.<br> Choisissez votre problématique.
            </h5>
        </div>
        <div class="contact-advisor__iframe fr-pt-8w mt-text-align-center">
            <iframe id="pde"
                    title="Place des Entreprises"
                    src="https://place-des-entreprises.beta.gouv.fr/e/aide-entreprises/france-transition-ecologique">
            </iframe>
        </div>
        <div class="contact-advisor__footer fr-py-5w">
                <img src="{{ asset('build/img/logo_pde_no_text.svg') }}" alt="Place des Entreprises">
                <h4>Ce service est proposé par Place des Entreprises</h4>
        </div>
    </div>
{% endblock %}

{% block javascripts%}
    {{ parent() }}
    {{ encore_entry_script_tags('contact_advisor') }}
{% endblock %}
