{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div id="simple-page" class="fr-container fr-my-8w">
        <div class="fr-grid-row--gutters">
            <div class="fr-grid-col">
                <h1>Plan du site</h1>
                <p>
                    <a href="{{path('homepage')}}" target="_blank">Accueil</a>
                </p>
                <br>
                <div>
                    <a href="#">Comprendre</a>
                    <ul>
                        <li><a href="{{ path('information_tee_knowledge') }}">La transition écologique</a></li>
                        <li><a href="{{ path('information_tee_knowledge', {'section': 'aides-publiques'}) }}">Les aides publiques</a></li>
                    </ul>
                </div>
                <br>
                <p>
                    <a href="{{path('search_results')}}" target="_blank">Lancer une recherche</a><br>
                    Diagnostiquer (à venir)<br>
                    <a href="{{path('information_contact_advisor')}}" target="_blank">Echanger avec un conseiller</a><br>
                </p>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts%}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
