{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('who_are_we') }}
{% endblock %}

{% block body %}
    <div id="who-are-we">
        <div class="fr-my-4w fr-container">
            <div class="fr-grid-row">
                <div class="fr-col-12">
                    <h1 class="fr-display-xs title color-navy mt-text-align-center">Mission Transition Écologique</h1>
                </div>
            </div>
            <div class="fr-grid-row">
                <div class="fr-col-12">
                    <h2 class="fr-h5 color-navy mt-text-align-center">Faciliter la <span class="highlighted">transition écologique</span> et <span class="highlighted">énergétique</span> des entreprises.</h2>
                </div>
            </div>
            <div class="fr-grid-row fr-grid-row--center fr-pt-md-2w">
                <div class="fr-col-12 fr-col-sm-3">
                    <div class="fr-highlight">
                        <p>Une initiative du Ministère de la Transition Écologique et du Ministère de l’Economie.</p>
                    </div>
                </div>
                <div class="fr-col-6 fr-col-sm-2 fr-pl-md-8w fr-pt-3w fr-pt-md-0">
                    <img src="{{ asset('build/img/logo_mte.svg') }}" alt="logo Ministère de la Transition Écologique" width="117px">
                </div>
                <div class="fr-col-6 fr-col-sm-2 fr-pl-md-8w fr-pt-3w fr-pt-md-0">
                    <img src="{{ asset('build/img/logo_mte.svg') }}" alt="logo Ministère de la Transition Écologique" width="117px">
                </div>
            </div>
        </div>

        <div class="fr-container-fluid bg-blue-ecume-975 fr-py-6w">
            <div class="fr-container">
                <div class="fr-grid-row">
                    <div class="fr-col-12">
                        <h5 class="color-navy">C'est quoi ?</h5>
                    </div>
                    <div class="fr-col-12">
                        <p>
                            Pour 50% des entreprises interrogées par l’équipe Mission Transition Ecologique, le principal frein à leur transition écologique concerne le financement.<br><br>
                            <b>Vous voulez financer la transition écologique de votre entreprise ?</b><br><br>
                            Vous êtes au bon endroit. Mission Transition Écologique accompagne et conseille les PME et ETI dans le financement de leur transition écologique.<br>
                        </p>
                    </div>
                </div>

                <div class="fr-grid-row fr-pt-4w">
                    <div class="fr-col-12">
                        <h5 class="color-navy">Comment ?</h5>
                    </div>
                    <div class="fr-col-12">
                        <p>
                            Mission Transition écologique, c’est le moteur de recherche des aides publiques écologiques pour les entreprises qui réunit en une seule porte d’entrée les financements de la BPI, de l’ADEME, des Régions, jusqu’aux aides européennes, spécifiques. Le tout avec la possibilité d’être rappelé par un conseiller CCI de votre région, quand la recherche ne suffit pas.
                        </p>
                    </div>
                </div>

                <div class="fr-grid-row fr-pt-6w">
                    <div class="fr-col-12 fr-col-md-4 fr-pr-md-3v fr-pb-md-3v fr-pb-3v">
                        <div class="fr-card fr-enlarge-link">
                            <div class="fr-card__body">
                                <h4 class="fr-card__title">
                                    <a href="{{ path('information_tee_knowledge') }}" class="fr-card__link">Comprendre les aides publiques et la transition écologique</a>
                                </h4>
                                <p class="fr-card__desc">Des explications sur le fonctionnement des aides publiques  et sur les projets possibles pour la transition écologique de votre entreprise.</p>
                            </div>
                            <div class="fr-card__img">
                                <img src="{{ asset('build/img/illu_1.svg') }}" class="fr-responsive-img" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="fr-col-12 fr-col-md-4 fr-pr-md-3v fr-pb-md-3v fr-pb-3v">
                        <div class="fr-card fr-enlarge-link">
                            <div class="fr-card__body">
                                <h4 class="fr-card__title">
                                    <a href="{{ path('search_results') }}" class="fr-card__link">Lancer une recherche</a>
                                </h4>
                                <p class="fr-card__desc">
                                    <b>Vous avez un projet écologique à réaliser ?</b><br> Choisissiez une thématique ou secteur pour trouver une aide dans votre région afin de le réaliser grâce à notre moteur de recherche.</p>
                            </div>
                            <div class="fr-card__img">
                                <img src="{{ asset('build/img/illu_2.svg') }}" class="fr-responsive-img" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="fr-col-12 fr-col-md-4">
                        <div class="fr-card fr-enlarge-link">
                            <div class="fr-card__body">
                                <h4 class="fr-card__title">
                                    <a href="{{ path('information_contact_advisor') }}" class="fr-card__link">Poser une question</a>
                                </h4>
                                <p class="fr-card__desc">
                                    <b>Vous cherchez une réponse à votre question ?</b><br>
                                    Notre module “Rappel par un conseiller” vous propose de poser votre question et d’être rappelé par un conseiller spécialisé.</p>
                            </div>
                            <div class="fr-card__img">
                                <img src="{{ asset('build/img/illu_3.svg') }}" class="fr-responsive-img" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fr-container fr-pb-9w fr-pt-6w funders">
            <p class="fr-text--lead mt-text-align-center"><span>425 aides publiques actuellement recensées sur la plateforme</span><br>Quelques-uns des financeurs : </p>
            <div class="fr-grid-row fr-mb-3w">
                <div class="col-8 funders_logo_1">
                    <img src="{{ asset('build/img/logo_commission_europeenne.svg') }}" alt="logo Commission Européenne" width="192px">
                    <img src="{{ asset('build/img/logo_ademe.svg') }}" alt="logo ademe" width="68px">
                    <img src="{{ asset('build/img/logo_bpi.svg') }}" alt="logo BPI" width="161px">
                    <img src="{{ asset('build/img/logo_bdt.svg') }}" alt="logo banque des territoires" width="317px">
                    <img src="{{ asset('build/img/logo_france_agri_mer.svg') }}" alt="logo france agrimer" width="142px">
                    <img src="{{ asset('build/img/logo_cci_with_text.svg') }}" alt="logo chambre de commerce et de l'industrie" width="136px">
                </div>
            </div>
            <div class="fr-grid-row">
                <div class="col-8 funders_logo_2">
                    <img src="{{ asset('build/img/logo_nouvelle_aquitaine.svg') }}" alt="logo nouvelle aquitaine" width="144px">
                    <img src="{{ asset('build/img/logo_ile_de_france.svg') }}" alt="logo région île de France" width="185px">
                    <img src="{{ asset('build/img/logo_PACA.svg') }}" alt="logo région sud PACA" width="176px">
                    <img src="{{ asset('build/img/logo_BFC.svg') }}" alt="logo région bourgogne franche comté" width="161px">
                    <img src="{{ asset('build/img/logo_grand_est.svg') }}" alt="logo grand est" width="139px">
                    <img src="{{ asset('build/img/logo_occitanie.svg') }}" alt="logo occitanie" width="72px">
                    <img src="{{ asset('build/img/logo_guadeloupe.svg') }}" alt="logo guadeloupe" width="91px">
                </div>
            </div>
            <hr>
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12">
                    <p class="fr-text--lead mt-text-align-center">Une initiative en collaboration avec :</p>
                </div>
            </div>
            <div class="fr-grid-row">
                <div class="col-12 partners-logo">
                    <img src="{{ asset('build/img/logo_at.png') }}" alt="logo Aides Territore" width="144px">
                    <img src="{{ asset('build/img/logo_pde.svg') }}" alt="logo Place Des Entreprises" width="185px">
                    <img src="{{ asset('build/img/logo_ademe.svg') }}" alt="logo ademe" height="85px">
                    <img src="{{ asset('build/img/logo_bpi.svg') }}" alt="logo BPI France" width="161px">
                    <img src="{{ asset('build/img/logo_cci_with_text.svg') }}" alt="logo CCI" width="139px">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts%}
    {{ parent() }}
    {{ encore_entry_script_tags('who_are_we') }}
{% endblock %}
