{% extends 'base.html.twig' %}

{% block title %}Dispositif {{ aid.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('aid') }}
{% endblock %}


{% block body %}
    <div class="fr-container-fluid">
        <div class="fr-grid-row aid-header">
            <div class="fr-pt-9w fr-pt-md-12w bg-light">
                <div class="grid-row fr-mx-4w fr-mx-md-12w">
                    <div class="fr-col-12">
                        <div class="heading-underlined">
                            <span class="subtitle">
                                {% if aid.type is same as(constant('TYPE_FIRST_STEP', aid)) %}
                                    Action premier pas
                                {% else %}
                                    Dispositif de financement
                                {% endif %}
                            </span>
                        </div>
                    </div>
                    <div class="fr-col-12 fr-mt-4w fr-mb-md-12w">
                        <h2 class="small">{{ aid.name }}</h2>
                    </div>
                    <div class="fr-col-12 fr-mt-4w fr-pb-4w">
                        <ul class="fr-tags-group">
                            {% for action in aid.environmentalTopics %}
                                <li><span class="mt-tag subtitle">{{ action }}</span></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="fr-pt-9w fr-pt-md-12w bg-dark">
                <div class="grid-row fr-mx-4w fr-mx-md-12w">
                    <div class="fr-col-12">
                        <div class="heading-underlined on-dark">
                            <span class="subtitle highlighted">
                                Votre contact pour cette aide
                            </span>
                        </div>
                    </div>
                    <div class="fr-col-12 fr-my-4w">
                        <h3 class="on-dark">{{ aid.funder.name }}</h3>
                    </div>
                    {% if aid.funder.website is not null %}
                        <div class="fr-col-12 fr-my-4w">
                            <a href="{{ aid.fundingSourceUrl }}" target="_blank">
                                <button class="fr-btn fr-btn--lg funder-website-link">POURSUIVRE MA DÉMARCHE</button>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="fr-container-fluid fr-mx-4w fr-mx-md-12w">
        <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
            <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-189">Voir le fil d’Ariane</button>
            <div class="fr-collapse" id="breadcrumb-189">
                <ol class="fr-breadcrumb__list">
                    <li>
                        <a class="fr-breadcrumb__link" href="{{ path('homepage') }}">Accueil</a>
                    </li>
                    <li>
                        <a class="fr-breadcrumb__link" href="{{ path('search_results') }}">Moteur de recherche</a>
                    </li>
                    <li>
                        <a class="fr-breadcrumb__link" aria-current="page">{{ aid.name }}</a>
                    </li>
                </ol>
            </div>
        </nav>
    </div>

    <div class="fr-container-fluid fr-mx-4w fr-mx-md-12w aid-content">
        <div class="highlighted-info">
            <div class="on-mobile-only heading-underlined fr-mt-4w">
                <h2 class="small">Les informations principales</h2>
            </div>
            {% if aid.funder is not empty and aid.funder.name is not empty %}
                <div class="card-focus">
                    <img src="{{ asset('build/img/buildings.svg') }}" alt="icon batîment">
                    <div class="content">
                        <span class="subtitle highlighted">Porteur du dispositif</span>
                        <p class="on-dark">{{ aid.funder.name }}</p>
                    </div>
                </div>
            {% endif %}
            {% if aid.type %}
                <div class="card-focus">
                    <img src="{{ asset('build/img/double_switch.svg') }}" alt="icon switch">
                    <div class="content">
                        <span class="subtitle highlighted">Type de dispositif</span>
                        <p class="on-dark">{{ aid.type }}</p>
                    </div>
                </div>
            {% endif %}
            {% if aid.fundingTypes is not empty %}
                <div class="card-focus">
                    <img src="{{ asset('build/img/papers.svg') }}" alt="icon papiers">
                    <div class="content">
                        <span class="subtitle highlighted">Type de financement</span>
                        <p class="on-dark">
                            {% for fundingType in aid.fundingTypes %}
                                {% if loop.index is same as 0 %}
                                    ,
                                {% endif %}
                                {{ fundingType }}
                            {% endfor %}
                        </p>
                    </div>
                </div>
            {% endif %}
            {% if aid.applicationEndDate is not null %}
                <div class="card-focus">
                    <img src="{{ asset('build/img/hourglass.svg') }}" alt="icon sablier">
                    <div class="content">
                        <span class="subtitle highlighted">Date de clôture</span>
                        <p class="on-dark">{{ aid.applicationEndDate|format_datetime(locale='fr') }}</p>
                    </div>
                </div>
            {% endif %}
            <div class="card-focus">
                <img src="{{ asset('build/img/map_france.svg') }}" alt="icon carte de la France">
                <div class="content">
                    <span class="subtitle highlighted">Echelle</span>
                    <p class="on-dark">{{ aid.perimeter }}</p>
                </div>
            </div>
            {% if aid.regions is not empty and aid.perimeter is same as "REGIONAL" %}
                <div class="card-focus">
                    <img src="{{ asset('build/img/papers.svg') }}" alt="icon papiers">
                    <div class="content">
                        <span class="subtitle highlighted">Régions concernées</span>
                        <p class="on-dark">
                            {% for region in aid.regions %}
                                {% if loop.index is same as 0 %}
                                    ,
                                {% endif %}
                                {{ region.name }}
                            {% endfor %}
                        </p>
                    </div>
                </div>
            {% endif %}
            <a href="{{ aid.fundingSourceUrl }}" target="_blank">
                <button class="fr-btn fr-btn--lg funder-website-link">POURSUIVRE MA DÉMARCHE</button>
            </a>
        </div>
        <div>
            {% if aid.goal is not empty %}
                <div class="goal fr-mb-4w">
                    <div class="heading-underlined">
                        <h3>C'est quoi ?</h3>
                    </div>
                    <p class="fr-pt-2w">
                        {{ aid.goal }}
                    </p>
                </div>
            {% endif %}
            {% if aid.aidDetails is not empty %}
                <div class="details bg-light fr-p-4w fr-mb-4w">
                    <div class="heading-underlined">
                        <h3>Détail du financement</h3>
                    </div>
                    <p class="fr-pt-2w">
                        {{ aid.aidDetails|raw }}
                    </p>
                </div>
            {% endif %}
            {% if aid.beneficiary is not empty %}
                <div class="beneficiary fr-mb-4w">
                    <div class="heading-underlined">
                        <h3>Pour quel bénéficiaire ?</h3>
                    </div>
                    <p class="fr-pt-2w">
                        {{ aid.beneficiary|raw }}
                    </p>
                </div>
            {% endif %}
            {% if aid.eligibility is not empty %}
                <div class="eligibility fr-mb-4w">
                    <div class="heading-underlined">
                        <h3>Quelle est le cadre d'utilisation de l'aide ?</h3>
                    </div>
                    <p class="fr-pt-2w">
                        {{ aid.eligibility|raw }}
                    </p>
                </div>
            {% endif %}
            {% if aid.projectExamples is not empty %}
                <div class="project-examples fr-mb-4w">
                    <div class="heading-underlined">
                        <h3>Exemples de projets réalisables</h3>
                    </div>
                    <p class="fr-pt-2w">
                        {{ aid.projectExamples|raw }}
                    </p>
                </div>
            {% endif %}
            {% if aid.conditions is not empty %}
                <div class="conditions fr-mb-4w">
                    <div class="heading-underlined">
                        <h3>Quelles sont les contraintes à respecter ?</h3>
                    </div>
                    <p class="fr-pt-2w">
                        {{ aid.conditions|raw }}
                    </p>
                </div>
            {% endif %}
            {% if aid.contactGuidelines is not empty %}
                <div class="conditions fr-mb-4w">
                    <div class="heading-underlined">
                        <h3>Qui contacter ?</h3>
                    </div>
                    <p class="fr-pt-2w">
                        {{ aid.contactGuidelines|raw }}
                    </p>
                </div>
            {% endif %}
            <div class="fr-mb-12w"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts%}
    {{ parent() }}
    {{ encore_entry_script_tags('aid') }}
{% endblock %}
