{% extends 'base.html.twig' %}

{% block title %}Dispositif {{ aid.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('aid') }}
{% endblock %}


{% block body %}
    <div class="fr-container-fluid bg-blue-france-700">
        <div class="fr-container fr-py-sm-6w fr-py-3w">
            <div class="fr-grid-row">
                <h1 class="fr-h3 on-dark">{{ aid.name }}</h1>
            </div>
            <div class="fr-grid-row">
                <p class="on-dark">En lien avec : <b>{{ aid.types|join(' | ') }}</b></p>
            </div>
        </div>
    </div>

    <div class="fr-container-fluid fr-mx-4w fr-mx-md-12w">
        <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
            <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-189">Voir le fil d’Ariane</button>
            <div class="fr-collapse" id="breadcrumb-189">
                <ol class="fr-breadcrumb__list">
                    <li>
                        <a class="fr-breadcrumb__link" href="{{ path('homepage') }}">Accueil</a>
                    </li>
                    <li>
                        <a class="fr-breadcrumb__link" href="{{ path('search_results') }}">Moteur de recherche</a>
                    </li>
                    <li>
                        <a class="fr-breadcrumb__link" aria-current="page">{{ aid.name }}</a>
                    </li>
                </ol>
            </div>
        </nav>
    </div>

    <div class="fr-container-fluid fr-mx-4w fr-mx-md-12w aid-content">
        <div class="highlighted-info">
            <div class="on-mobile-only heading-underlined fr-mt-4w">
                <h2 class="small">Les informations principales</h2>
            </div>
            {% if aid.funder is not empty and aid.funder.name is not empty %}
                <div class="fr-tile fr-enlarge-link bg-beige">
                    <div class="fr-tile__body">
                        <h4 class="fr-tile__title">
                            <a class="fr-tile__link" href>Porteur du dispositif</a>
                        </h4>
                        <p class="fr-tile__desc">{{ aid.funder.name }}</p>
                    </div>
                    <div class="fr-tile__img">
                        <img src="{{ asset('build/img/buildings.svg') }}" class="fr-responsive-img" alt="">
                    </div>
                </div>
            {% endif %}
            {% if aid.types is not empty %}
                <div class="fr-tile fr-enlarge-link bg-beige">
                    <div class="fr-tile__body">
                        <h4 class="fr-tile__title">
                            <a class="fr-tile__link" href>Type(s) de dispositif</a>
                        </h4>
                        <p class="fr-tile__desc">{{ aid.types|join(' | ') }}</p>
                    </div>
                    <div class="fr-tile__img">
                        <img src="{{ asset('build/img/double_switch.svg') }}" class="fr-responsive-img" alt="">
                    </div>
                </div>
            {% endif %}
            {% if aid.fundingTypes is not empty %}
                <div class="fr-tile fr-enlarge-link bg-beige">
                    <div class="fr-tile__body">
                        <h4 class="fr-tile__title">
                            <a class="fr-tile__link" href>Type de financement</a>
                        </h4>
                        <p class="fr-tile__desc">
                            {% for fundingType in aid.fundingTypes %}
                                {% if loop.index is same as 0 %}
                                    ,
                                {% endif %}
                                {{ fundingType }}
                            {% endfor %}
                        </p>
                    </div>
                    <div class="fr-tile__img">
                        <img src="{{ asset('build/img/papers.svg') }}" class="fr-responsive-img" alt="">
                    </div>
                </div>
            {% endif %}
            {% if aid.applicationEndDate is not null %}
                <div class="fr-tile fr-enlarge-link bg-beige">
                    <div class="fr-tile__body">
                        <h4 class="fr-tile__title">
                            <a class="fr-tile__link" href>Date de clôture</a>
                        </h4>
                        <p class="fr-tile__desc">
                            {{ aid.applicationEndDate|format_datetime(locale='fr') }}
                        </p>
                    </div>
                    <div class="fr-tile__img">
                        <img src="{{ asset('build/img/hourglass.svg') }}" class="fr-responsive-img" alt="">
                    </div>
                </div>
            {% endif %}
            <div class="fr-tile fr-enlarge-link bg-beige">
                <div class="fr-tile__body">
                    <h4 class="fr-tile__title">
                        <a class="fr-tile__link" href>Echelle</a>
                    </h4>
                    <p class="fr-tile__desc">
                        {{ aid.perimeter }}
                    </p>
                </div>
                <div class="fr-tile__img">
                    <img src="{{ asset('build/img/map_france.svg') }}" class="fr-responsive-img" alt="">
                </div>
            </div>
            {% if aid.regions is not empty and aid.perimeter is same as "REGIONAL" %}
                <div class="fr-tile fr-enlarge-link bg-beige">
                    <div class="fr-tile__body">
                        <h4 class="fr-tile__title">
                            <a class="fr-tile__link" href>Régions concernées</a>
                        </h4>
                        <p class="fr-tile__desc">
                            {% for region in aid.regions %}
                                {% if loop.index is same as 0 %}
                                    ,
                                {% endif %}
                                {{ region.name }}
                            {% endfor %}
                        </p>
                    </div>
                    <div class="fr-tile__img">
                        <img src="{{ asset('build/img/papers.svg') }}" class="fr-responsive-img" alt="">
                    </div>
                </div>
            {% endif %}
        </div>
        <div>
            <h6 class="color-navy">Présentation générale</h6>
            {% if aid.aidDetails is not empty %}
                <div class="details fr-mb-4w">
                    <section class="fr-accordion">
                        <h3 class="fr-accordion__title">
                            <button class="fr-accordion__btn color-navy" aria-expanded="true" aria-controls="accordion-81">C'est quoi ?</button>
                        </h3>
                        <div class="fr-collapse" id="accordion-81">
                            {{ aid.aidDetails|raw }}
                        </div>
                    </section>
                </div>
            {% endif %}
            {% if aid.projectExamples is not empty %}
                <div class="project-examples fr-mb-4w">
                    <section class="fr-accordion">
                        <h3 class="fr-accordion__title">
                            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-83">Exemples de projets réalisables</button>
                        </h3>
                        <div class="fr-collapse" id="accordion-83">
                            {{ aid.projectExamples|raw }}
                        </div>
                    </section>
                </div>
            {% endif %}
            <h6 class="color-navy">Critères d'éligibilité</h6>
            {% if aid.eligibility is not empty %}
                <div class="eligibility fr-mb-4w">
                    <section class="fr-accordion">
                        <h3 class="fr-accordion__title">
                            <button class="fr-accordion__btn color-navy" aria-expanded="true" aria-controls="accordion-82">Quel est le cadre d’utilisation de l’aide ?</button>
                        </h3>
                        <div class="fr-collapse" id="accordion-82">
                            {{ aid.eligibility|raw }}
                        </div>
                    </section>
                </div>
            {% endif %}
            <h6 class="color-navy">Pour aller plus loin</h6>
            {% if aid.contactGuidelines is not empty %}
                <section class="fr-accordion">
                    <h3 class="fr-accordion__title">
                        <button class="fr-accordion__btn color-navy" aria-expanded="false" aria-controls="accordion-84">Qui contacter ?</button>
                    </h3>
                    <div class="fr-collapse" id="accordion-84">
                        {{ aid.contactGuidelines|raw }}
                    </div>
                </section>
                {% if aid.fundingSourceUrl is not null %}
                    <section class="fr-accordion">
                        <h3 class="fr-accordion__title">
                            <button class="fr-accordion__btn color-navy" aria-expanded="false" aria-controls="accordion-85">Continuer vers le descriptif complet</button>
                        </h3>
                        <div class="fr-collapse" id="accordion-85">
                            Lien vers le descriptif complet : <a title={{ aid.name ~ " - ouvre une nouvelle fenêtre"}} href="{{ aid.fundingSourceUrl }}" target="_blank" rel="noopener">{{ aid.name }}</a>
                        </div>
                    </section>
                {% endif %}
            {% endif %}
            <div class="fr-mb-12w"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts%}
    {{ parent() }}
    {{ encore_entry_script_tags('aid') }}
{% endblock %}
