{% extends 'base.html.twig' %}

{% block title %}Dispositif {{ aid.nomAideNormalise }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('aid') }}
{% endblock %}


{% block body %}
    <div class="fr-container-fluid bg-blue-france-700">
        <div class="fr-container fr-py-sm-6w fr-py-3w">
            <div class="fr-grid-row">
                <h1 class="fr-h3 on-dark">{{ aid.nomAideNormalise }}</h1>
            </div>
            <div class="fr-grid-row">
                <p class="on-dark">En lien avec : <b>{{ aid.typesAide|join(' | ') }}</b></p>
            </div>
        </div>
    </div>

    <div class="fr-container-fluid fr-mx-4w fr-mx-md-12w">
        <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
            <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-189">Voir le fil d’Ariane</button>
            <div class="fr-collapse" id="breadcrumb-189">
                <ol class="fr-breadcrumb__list">
                    <li>
                        <a class="fr-breadcrumb__link" href="{{ path('homepage') }}">Accueil</a>
                    </li>
                    <li>
                        <a class="fr-breadcrumb__link" href="#" onclick="history.back(1)">Moteur de recherche</a>
                    </li>
                    <li>
                        <a class="fr-breadcrumb__link" aria-current="page">{{ aid.nomAideNormalise }}</a>
                    </li>
                </ol>
            </div>
        </nav>
    </div>

    <div class="fr-container-fluid fr-mx-4w fr-mx-md-12w aid-content">
        <div class="highlighted-info">
            <div class="on-mobile-only heading-underlined fr-mt-4w">
                <h2 class="small">Les informations principales</h2>
            </div>
            {% if aid.porteursAide is not empty %}
                <div class="fr-tile fr-enlarge-link bg-beige">
                    <div class="fr-tile__body">
                        <h4 class="fr-tile__title">
                            <a class="fr-tile__link" href>Porteur du dispositif</a>
                        </h4>
                        <p class="fr-tile__desc">{{ aid.porteursAide|join(', ') }}</p>
                    </div>
                    <div class="fr-tile__img">
                        <img src="{{ asset('build/img/buildings.svg') }}" class="fr-responsive-img" alt="">
                    </div>
                </div>
            {% endif %}
            {% if aid.typesAide is not empty %}
                <div class="fr-tile fr-enlarge-link bg-beige">
                    <div class="fr-tile__body">
                        <h4 class="fr-tile__title">
                            <a class="fr-tile__link" href>Type(s) de dispositif</a>
                        </h4>
                        <p class="fr-tile__desc">{{ aid.typesAide|join(' | ') }}</p>
                    </div>
                    <div class="fr-tile__img">
                        <img src="{{ asset('build/img/double_switch.svg') }}" class="fr-responsive-img" alt="">
                    </div>
                </div>
            {% endif %}
            {#            {% if aid.fundingTypes is not empty %}#}
            {#                <div class="fr-tile fr-enlarge-link bg-beige">#}
            {#                    <div class="fr-tile__body">#}
            {#                        <h4 class="fr-tile__title">#}
            {#                            <a class="fr-tile__link" href>Type de financement</a>#}
            {#                        </h4>#}
            {#                        <p class="fr-tile__desc">#}
            {#                            {% for fundingType in aid.fundingTypes %}#}
            {#                                {% if loop.index is same as 0 %}#}
            {#                                    ,#}
            {#                                {% endif %}#}
            {#                                {{ fundingType }}#}
            {#                            {% endfor %}#}
            {#                        </p>#}
            {#                    </div>#}
            {#                    <div class="fr-tile__img">#}
            {#                        <img src="{{ asset('build/img/papers.svg') }}" class="fr-responsive-img" alt="">#}
            {#                    </div>#}
            {#                </div>#}
            {#            {% endif %}#}
            {% if aid.dateCloture is not null %}
                <div class="fr-tile fr-enlarge-link bg-beige">
                    <div class="fr-tile__body">
                        <h4 class="fr-tile__title">
                            <a class="fr-tile__link" href>Date de clôture</a>
                        </h4>
                        <p class="fr-tile__desc">
                            {{ aid.dateCloture|format_datetime(locale='fr') }}
                        </p>
                    </div>
                    <div class="fr-tile__img">
                        <img src="{{ asset('build/img/hourglass.svg') }}" class="fr-responsive-img" alt="">
                    </div>
                </div>
            {% endif %}
            {#            <div class="fr-tile fr-enlarge-link bg-beige">#}
            {#                <div class="fr-tile__body">#}
            {#                    <h4 class="fr-tile__title">#}
            {#                        <a class="fr-tile__link" href>Echelle</a>#}
            {#                    </h4>#}
            {#                    <p class="fr-tile__desc">#}
            {#                        {{ aid.perimeter }}#}
            {#                    </p>#}
            {#                </div>#}
            {#                <div class="fr-tile__img">#}
            {#                    <img src="{{ asset('build/img/map_france.svg') }}" class="fr-responsive-img" alt="">#}
            {#                </div>#}
            {#            </div>#}
            {% if aid.zonesGeographiques is not empty %}
                <div class="fr-tile fr-enlarge-link bg-beige">
                    <div class="fr-tile__body">
                        <h4 class="fr-tile__title">
                            <a class="fr-tile__link" href>Régions concernées</a>
                        </h4>
                        <p class="fr-tile__desc">
                            {% for region in aid.zonesGeographiques %}
                                {% if loop.index is same as 0 %}
                                    ,
                                {% endif %}
                                {{ region.nom }}
                            {% endfor %}
                        </p>
                    </div>
                    <div class="fr-tile__img">
                        <img src="{{ asset('build/img/papers.svg') }}" class="fr-responsive-img" alt="">
                    </div>
                </div>
            {% endif %}
        </div>
        <div>
            <h6 class="color-navy">Présentation générale</h6>
            {% if aid.description is not empty %}
                <div class="details fr-mb-4w">
                    <section class="fr-accordion">
                        <h3 class="fr-accordion__title">
                            <button class="fr-accordion__btn color-navy" aria-expanded="true" aria-controls="accordion-81">C'est quoi ?</button>
                        </h3>
                        <div class="fr-collapse" id="accordion-81">
                            {{ aid.description|raw }}
                        </div>
                    </section>
                </div>
            {% endif %}
            {% if aid.exempleProjet is not empty %}
                <div class="project-examples fr-mb-4w">
                    <section class="fr-accordion">
                        <h3 class="fr-accordion__title">
                            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-83">Exemples de projets réalisables</button>
                        </h3>
                        <div class="fr-collapse" id="accordion-83">
                            {{ aid.exempleProjet|raw }}
                        </div>
                    </section>
                </div>
            {% endif %}
            {% if aid.conditionsEligibilite is not empty %}
                <h6 class="color-navy">Critères d'éligibilité</h6>
                <div class="eligibility fr-mb-4w">
                    <section class="fr-accordion">
                        <h3 class="fr-accordion__title">
                            <button class="fr-accordion__btn color-navy" aria-expanded="true" aria-controls="accordion-82">Quel est le cadre d’utilisation de l’aide ?</button>
                        </h3>
                        <div class="fr-collapse" id="accordion-82">
                            {{ aid.conditionsEligibilite|raw }}
                        </div>
                    </section>
                </div>
            {% endif %}
            <h6 class="color-navy">Pour aller plus loin</h6>
            {% if aid.contact is not empty %}
                <section class="fr-accordion">
                    <h3 class="fr-accordion__title">
                        <button class="fr-accordion__btn color-navy" aria-expanded="false" aria-controls="accordion-84">Qui contacter ?</button>
                    </h3>
                    <div class="fr-collapse" id="accordion-84">
                        {{ aid.contact|raw }}
                    </div>
                </section>
                {% if aid.urlDescriptif is not empty %}
                    <section class="fr-accordion">
                        <h3 class="fr-accordion__title">
                            <button class="fr-accordion__btn color-navy" aria-expanded="false" aria-controls="accordion-85">Continuer vers le descriptif complet</button>
                        </h3>
                        <div class="fr-collapse" id="accordion-85">
                            Lien vers le descriptif complet : <a title={{ aid.nomAideNormalise ~ " - ouvre une nouvelle fenêtre"}} href="{{ aid.urlDescriptif }}" target="_blank" rel="noopener">{{ aid.nomAideNormalise }}</a>
                        </div>
                    </section>
                {% endif %}
                {% if aid.urlDemarche is not empty %}
                    <section class="fr-accordion">
                        <h3 class="fr-accordion__title">
                            <button class="fr-accordion__btn color-navy" aria-expanded="false" aria-controls="accordion-86">Continuer vers la candidature</button>
                        </h3>
                        <div class="fr-collapse" id="accordion-86">
                            Lien vers la candidature : <a title={{ aid.nomAideNormalise ~ " - ouvre une nouvelle fenêtre"}} href="{{ aid.urlDemarche }}" target="_blank" rel="noopener">{{ aid.nomAideNormalise }}</a>
                        </div>
                    </section>
                {% endif %}
            {% endif %}
            <div class="fr-mb-12w"></div>
        </div>
    </div>
    <div class="fr-container--fluid bg-grey-magnolia fr-mb-4w fr-mb-md-7w">
        <div class="fr-container fr-py-7w">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 mt-text-align-center fr-pb-md-5w fr-pt-4w">
                    <h2 class="fr-h1 color-navy">Vous ne trouvez pas l’aide qui vous correspond ?</h2>
                </div>
                <div class="fr-col-12 fr-col-md-4">
                    <img src="{{ asset('build/img/illu4.svg') }}" class="fr-responsive-img" alt="">
                </div>
                <div class="fr-col-12 fr-col-md-6">
                    <div class="fr-grid-row">
                        <div class="fr-col-12">
                            <p>
                                L’expérience montre qu’il vaut mieux avoir d’abord un projet bien ciblé puis trouver l’aide adaptée plutôt que l’inverse.
                            </p>
                            <p class="fr-pt-3w">
                                Nous vous proposons des outils pour trouver les meilleures aides pour votre entreprise, et si nécessaire vous pouvez même prendre contact avec des experts de la transition écologique !
                            </p>
                        </div>
                        <div class="fr-col-12 fr-pt-3w">
                            <a href="{{ path('information_contact_advisor') }}" class="fr-btn fr-btn--secondary fr-icon-arrow-go-forward-line fr-btn--icon-right">
                                Contactez un conseiller
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts%}
    {{ parent() }}
    {{ encore_entry_script_tags('aid') }}
{% endblock %}
