<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <title>Recherche d'aides - Mission Transition Ecologique</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="referrer" content="origin" />

    <link rel="apple-touch-icon" href="{{ asset('build/icons/apple-touch-icon.png') }}"><!-- 180×180 -->
    <link rel="icon" href="{{ asset('build/icons/favicon.svg') }}" type="image/svg+xml">
    <link rel="shortcut icon" href="{{ asset('build/icons/favicon.ico') }}" type="image/x-icon"><!-- 32×32 -->
    <link rel="manifest" href="{{ asset('build/icons/manifest.webmanifest') }}" crossorigin="use-credentials">
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('search') }}
</head>
<div id="search-engine"></div>
{{ encore_entry_script_tags('app') }}
{{ encore_entry_script_tags('search') }}
<script type="text/javascript" nomodule src="{{ asset('build/static/dsfr.nomodule.min.js') }}"></script>
