{% extends 'base.html.twig' %}

{% block title 'France Transition' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('search') }}
{% endblock %}

{% block body %}
    <div id="search-engine"></div>
    <div class="fr-container--fluid bg-grey-magnolia fr-my-5w">
        <div class="fr-container fr-py-7w">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 mt-text-align-center fr-pb-md-5w fr-pt-4w">
                    <h2 class="fr-h1 color-navy">Vous ne trouvez pas l’aide qui vous correspond ?</h2>
                </div>
                <div class="fr-col-12 fr-col-md-4">
                    <img src="{{ asset('build/img/illu4.svg') }}" class="fr-responsive-img" alt="">
                </div>
                <div class="fr-col-12 fr-col-md-6">
                    <div class="fr-grid-row">
                        <div class="fr-col-12">
                            <p>
                                L’expérience montre qu’il vaut mieux avoir d’abord un projet bien ciblé puis trouver l’aide adaptée plutôt que l’inverse.
                            </p>
                            <p class="fr-pt-3w">
                                Nous vous proposons des outils pour trouver les meilleures aides pour votre entreprise, et si nécessaire vous pouvez même prendre contact avec des experts de la transition écologique !
                            </p>
                        </div>
                        <div class="fr-col-12 fr-pt-3w">
                            <a href="{{ path('information_contact_advisor') }}" class="fr-btn fr-btn--secondary fr-icon-arrow-go-forward-line fr-btn--icon-right">
                                Contactez un conseiller
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts%}
    {{ parent() }}
    {{ encore_entry_script_tags('search') }}
{% endblock %}
