{% extends 'base.html.twig' %}

{% block title %}Recherche de dispositif d'aide{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('search') }}
{% endblock %}

{% block body %}

    <div id="aid-search-engine"></div>

    <div class="fr-container-fluid bg-dark">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="fr-grid-row">
                <div class="fr-col fr-mx-9w fr-my-7w">
                    {{ form_label(form.environmentalTopic) }}
                    {{ form_widget(form.environmentalTopic) }}
                    <div class="environmental-action-error">
                        {{ form_errors(form.environmentalTopic) }}
                    </div>
                    <div id="topics-helper"></div>
                </div>
                <div class="fr-col fr-mx-9w fr-my-7w">
                    {{ form_row(form.aidType) }}
                </div>
                <div class="fr-col fr-mx-9w fr-my-7w">
                    {{ form_row(form.region) }}
                </div>
            </div>
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-offset-6">
                    <button type="submit" class="fr-btn fr-btn--secondary cta-search">
                        AFFICHER LES RÉSULTATS
                    </button>
                </div>
            </div>
        {{ form_end(form) }}
    </div>

    {% if nbAids is not same as 0 %}
        <div class="bg-light">
            <div class="fr-container fr-pt-12w">
                <p class="subtitle">{{ nbAids ~ (isFundingType ? ' dispositifs de financement' : ' actions faciles') ~ ' correspondent à votre recherche' }}</p>
                {% if regionalAids is not empty %}
                    <hr>
                    <h3 class="fr-pt-3w">
                        <span class="highlighted">{{ nbRegionalAids }}</span> {{ isFundingType ? ' aides locales' : 'actions faciles' }} pour <span class="highlighted">"{{ environmentalTopic }}"</span> {{ region is not null ? "en #{region.name}" }}
                    </h3>
                    <div class="card-aid-list fr-py-5w">
                        {% for aid in regionalAids %}
                            <div class="card-aid" {% if loop.last %}id="last-regional-aid"{% endif %}>
                                <div class="card-aid-main">
                                    <h4 class="subtitle">{{ aid.type }}</h4>
                                    <h3 class="small">{{ aid.name }}</h3>
                                    <div class="funder">
                                        <span class="mt-icon-circled mt-icon-circled--inline">
                                            <span class="mt-icon mt-icon--building"></span>
                                        </span>
                                        <span class="subtitle">{{ aid.funder.name }}</span>
                                    </div>
                                    {% if aid.applicationStartDate is not null and aid.applicationEndDate is not null %}
                                        <div class="aid-dates">
                                            <span class="mt-icon-circled mt-icon-circled--inline">
                                                <span class="mt-icon mt-icon--time"></span>
                                            </span>
                                            <span class="subtitle">
                                                dispostitif temporaire<br>
                                                du {{ aid.applicationStartDate|format_date('short') }} au {{ aid.applicationEndDate|format_date('short') }}
                                            </span>
                                        </div>
                                    {% endif %}
                                    {% if aid.fundingTypes is not empty %}
                                        <div class="aid-type fr-mb-2w">
                                            <span class="mt-icon-circled mt-icon-circled--inline mt-icon-circled--blue-bg">
                                                <span class="mt-icon mt-icon--euro mt-icon--color-white"></span>
                                            </span>
                                            <span class="subtitle color-navy">
                                                {{ aid.fundingTypes|join(', ') }}<br>
                                                {% if aid.subventionRateLowerBound %}
                                                    min : {{ aid.subventionRateLowerBound }}%
                                                {% endif %}
                                                {% if aid.subventionRateLowerBound and aid.subventionRateUpperBound %}
                                                    &nbsp;\&nbsp;
                                                {% endif %}
                                                {% if aid.subventionRateUpperBound %}
                                                    max : {{ aid.subventionRateUpperBound }}%
                                                {% endif %}
                                            </span>
                                        </div>
                                    {% endif %}
                                    <ul class="fr-tags-group fr-mt-4w">
                                        {% for topic in aid.environmentalTopics %}
                                            <li><span class="fr-mb-3v mt-tag subtitle">{{ topic }}</span></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% if aid.directAccess %}
                                    <a href="{{ aid.fundingSourceUrl }}">
                                        <button class="fr-btn big card-aid-cta">VOIR LE DISPOSITIF</button>
                                    </a>
                                {% else %}
                                    <a href="{{ path('aid_view', {'slug': aid.slug}) }}">
                                        <button class="fr-btn big card-aid-cta">VOIR LA FICHE</button>
                                    </a>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    {% if nbRegionalAids is not same as(regionalAids|length) %}
                        <div class="more-results">
                            <a href="{{ app.request.requesturi ~ '&search_form[regionalLimit]=' ~ nextRegionalLimit ~ '#last-regional-aid' }}">
                                <button class="fr-btn fr-btn--secondary">
                                    AFFICHER PLUS DE FICHES
                                </button>
                            </a>
                        </div>
                    {% endif %}
                {% endif %}

                {% if nationalAids is not empty %}
                    <hr>
                    <h3 class="fr-pt-3w">
                        <span class="highlighted">{{ nbNationalAids }}</span> {{ isFundingType ? ' dispositifs de financement' : 'actions faciles' }} pour <span class="highlighted">"{{ environmentalTopic }}"</span> au niveau national
                    </h3>
                    <div class="card-aid-list fr-py-5w">
                        {% for aid in nationalAids %}
                            <div class="card-aid" {% if loop.last %}id="last-national-aid"{% endif %}>
                                <div class="card-aid-main">
                                    <h4 class="subtitle">{{ aid.type }}</h4>
                                    <h3 class="small">{{ aid.name }}</h3>
                                    <div class="funder">
                                        <span class="mt-icon-circled mt-icon-circled--inline">
                                            <span class="mt-icon mt-icon--building"></span>
                                        </span>
                                        <span class="subtitle">{{ aid.funder.name }}</span>
                                    </div>
                                    {% if aid.applicationStartDate is not null and aid.applicationEndDate is not null %}
                                        <div class="aid-dates">
                                            <span class="mt-icon-circled mt-icon-circled--inline">
                                                <span class="mt-icon mt-icon--time"></span>
                                            </span>
                                            <span class="subtitle">
                                                dispostitif temporaire<br>
                                                du {{ aid.applicationStartDate|format_date('short') }} au {{ aid.applicationEndDate|format_date('short') }}
                                            </span>
                                        </div>
                                    {% endif %}
                                    {% if aid.fundingTypes is not empty %}
                                        <div class="aid-type fr-mb-2w">
                                            <span class="mt-icon-circled mt-icon-circled--inline mt-icon-circled--blue-bg">
                                                <span class="mt-icon mt-icon--euro mt-icon--color-white"></span>
                                            </span>
                                            <span class="subtitle color-navy">
                                                {{ aid.fundingTypes|join(', ') }}<br>
                                                {% if aid.subventionRateLowerBound %}
                                                    min : {{ aid.subventionRateLowerBound }}%
                                                {% endif %}
                                                {% if aid.subventionRateLowerBound and aid.subventionRateUpperBound %}
                                                    &nbsp;\&nbsp;
                                                {% endif %}
                                                {% if aid.subventionRateUpperBound %}
                                                    max : {{ aid.subventionRateUpperBound }}%
                                                {% endif %}
                                            </span>
                                        </div>
                                    {% endif %}
                                    <ul class="fr-tags-group fr-mt-4w">
                                        {% for topic in aid.environmentalTopics %}
                                            <li><span class="fr-mb-3v mt-tag subtitle">{{ topic }}</span></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <a href="{{ path('aid_view', {'slug': aid.slug}) }}">
                                    <button class="fr-btn big card-aid-cta">VOIR LA FICHE</button>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    {% if nbNationalAids is not same as(nationalAids|length) %}
                        <div class="more-results">
                            <a href="{{ app.request.requesturi ~ '&search_form[nationalLimit]=' ~ nextNationalLimit ~ '#last-national-aid' }}">
                                <button class="fr-btn fr-btn--secondary">
                                    AFFICHER PLUS DE FICHES
                                </button>
                            </a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% else %}
        {% if form.vars.submitted and form.environmentalTopic.vars.errors|length == 0 %}
            <div class="bg-light no-results fr-p-12w">
                <img src="{{ asset('build/img/no_results.svg') }}" alt="Pas de résultat">
                <div class="text fr-pt-3w">
                    <p class="fr-pb-3w">Notre base de données des aides n’est pas encore complète.</p>
                    <p><b>Relancez une recherche avec d’autres critères pour trouver des résultats.</b></p>
                </div>
            </div>
        {% else %}
            <div class="bg-light no-results fr-p-12w">
                <img class="mt-w100" src="{{ asset('build/img/search_default.svg') }}">
                <div class="text fr-pt-3w">
                    <p class="fr-pb-3w">Veuillez sélectionner un objectif dans les filtres
                        afin d’avoir des résultats de recherche.
                    </p>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block javascripts%}
    {{ parent() }}
    {{ encore_entry_script_tags('search') }}
{% endblock %}
