{% extends 'base.html.twig' %}

{% block title %}Recherche de dispositif d'aide{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('search') }}
{% endblock %}

{% block body %}

    <div class="rf-container-fluid bg-dark">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="rf-grid-row">
                <div class="rf-col rf-mx-9w rf-my-7w">
                    {{ form_row(form.environmentalAction) }}
                </div>
                <div class="rf-col rf-mx-9w rf-my-7w">
                    {{ form_row(form.aidType) }}
                </div>
                <div class="rf-col rf-mx-9w rf-my-7w">
                    {{ form_row(form.region) }}
                </div>
            </div>
            <div class="rf-grid-row rf-grid-row--center">
                <div class="rf-offset-6">
                    <button type="submit" class="rf-btn secondary cta-search">
                        AFFICHER LES RÉSULTATS
                    </button>
                </div>
            </div>
        {{ form_end(form) }}
    </div>

    <div class="bg-light">
        <div class="rf-container rf-pt-12w">
            <p class="subtitle">{{ nbAids ~ (isFundingType ? ' dispositifs de financement' : ' actions faciles') ~ ' correspondent à votre recherche' }}</p>
            {% if regionalAids is not empty %}
                <hr>
                <h3 class="rf-pt-3w">
                    <span class="highlighted">{{ nbRegionalAids }}</span> {{ isFundingType ? ' dispositifs de financement' : 'actions faciles' }} pour <span class="highlighted">"{{ environmentalAction }}"</span> {{ region is not null ? "en #{region.name}" }}
                </h3>
                <div class="card-list rf-py-5w">
                    {% for aid in regionalAids %}
                        <div class="card">
                            <div class="card-main">
                                <h2 class="small">{{ aid.name }}</h2>
                                <ul class="rf-tags-group">
                                    {% for action in aid.environmentalActions %}
                                        <li><span class="rf-tag rf-tag--sm subtitle">{{ action }}</span></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="card-details">
                                <span class="type subtitle">{{ aid.type }}</span>
                                <span class="funder subtitle">{{ aid.funder.name }}</span>
                                {% if aid.applicationEndDate is not null %}
                                    <span class="date subtitle">{{ aid.applicationEndDate|date }}</span>
                                {% endif %}
                            </div>
                            <button class="rf-btn big card-cta">VOIR LA FICHE</button>
                        </div>
                    {% endfor %}
                </div>
                {% if nbRegionalAids is not same as(regionalAids|length) %}
                    <div class="more-results">
                        <a href="{{ app.request.requesturi ~ '&search_form[regionalLimit]=' ~ nextRegionalLimit }}">
                            <button class="rf-btn secondary">
                                AFFICHER PLUS DE FICHES
                            </button>
                        </a>
                    </div>
                {% endif %}
            {% endif %}

            {% if nationalAids is not empty %}
                <hr>
                <h3 class="rf-pt-3w">
                    <span class="highlighted">{{ nbNationalAids }}</span> {{ isFundingType ? ' dispositifs de financement' : 'actions faciles' }} pour <span class="highlighted">"{{ environmentalAction }}"</span> au niveau national
                </h3>
                <div class="card-list rf-py-5w">
                    {% for aid in nationalAids %}
                        <div class="card">
                            <div class="card-main">
                                <h2 class="small">{{ aid.name }}</h2>
                                <ul class="rf-tags-group">
                                    {% for action in aid.environmentalActions %}
                                        <li><span class="rf-tag rf-tag--sm subtitle">{{ action }}</span></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="card-details">
                                <span class="type subtitle">{{ aid.type }}</span>
                                <span class="funder subtitle">{{ aid.funder.name }}</span>
                                {% if aid.applicationEndDate is not null %}
                                    <span class="date subtitle">{{ aid.applicationEndDate|date }}</span>
                                {% endif %}
                            </div>
                            <button class="rf-btn big card-cta">VOIR LA FICHE</button>
                        </div>
                    {% endfor %}
                </div>
                {% if nbNationalAids is not same as(nationalAids|length) %}
                    <div class="more-results">
                        <a href="{{ app.request.requesturi ~ '&search_form[nationalLimit]=' ~ nextNationalLimit }}">
                            <button class="rf-btn secondary">
                                AFFICHER PLUS DE FICHES
                            </button>
                        </a>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>



{% endblock %}
{% block javascripts%}
    {{ parent() }}
    {{ encore_entry_script_tags('search') }}
{% endblock %}
