{% extends 'base.html.twig' %}

{% block title %}Recherche de dispositif d'aide{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('search') }}
{% endblock %}

{% block body %}

    <div class="rf-container-fluid bg-dark">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="rf-grid-row">
                <div class="rf-col rf-mx-9w rf-my-7w">
                    {{ form_row(form.environmentalAction) }}
                </div>
                <div class="rf-col rf-mx-9w rf-my-7w">
                    {{ form_row(form.aidType) }}
                </div>
                <div class="rf-col rf-mx-9w rf-my-7w">
                    {{ form_row(form.region) }}
                </div>
            </div>
            <div class="rf-grid-row rf-grid-row--center">
                <div class="rf-offset-6">
                    <button type="submit" class="rf-btn secondary cta-search">
                        AFFICHER LES RÉSULTATS
                    </button>
                </div>
            </div>
        {{ form_end(form) }}
    </div>

    {% if nbAids is not same as 0 %}
        <div class="bg-light">
            <div class="rf-container rf-pt-12w">
                <p class="subtitle">{{ nbAids ~ (isFundingType ? ' dispositifs de financement' : ' actions premier pas') ~ ' correspondent à votre recherche' }}</p>
                {% if regionalAids is not empty %}
                    <hr>
                    <h3 class="rf-pt-3w">
                        <span class="highlighted">{{ nbRegionalAids }}</span> {{ isFundingType ? ' dispositifs de financement' : 'actions premier pas' }} pour <span class="highlighted">"{{ environmentalAction }}"</span> {{ region is not null ? "en #{region.name}" }}
                    </h3>
                    <div class="card-aid-list rf-py-5w">
                        {% for aid in regionalAids %}
                            <div class="card-aid">
                                <div class="card-aid-main">
                                    <h3 class="small">{{ aid.name }}</h3>
                                    <div class="funder">
                                        <span class="mt-icon-circled mt-icon-circled--inline">
                                            <span class="mt-icon mt-icon--building"></span>
                                        </span>
                                        <span class="subtitle">{{ aid.funder.name }}</span>
                                    </div>
                                    <ul class="rf-tags-group">
                                        {% for action in aid.environmentalActions %}
                                            <li><span class="rf-tag rf-tag--sm subtitle">{{ action }}</span></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="card-aid-details">
                                    <div class="aid-type">
                                        <span class="mt-icon-circled mt-icon-circled--blue-bg">
                                            <span class="mt-icon mt-icon--tag"></span>
                                        </span>
                                        <span class="subtitle">{{ aid.type }}</span>
                                    </div>
                                    <div class="funding-type">
                                        <span class="mt-icon-circled mt-icon-circled--orange-bg">
                                            <span class="mt-icon mt-icon--euro"></span>
                                        </span>
                                        <span class="subtitle">{{ aid.funder.name }}</span>
                                    </div>
                                    {% if aid.applicationEndDate is not null %}
                                        <span class="date subtitle">{{ aid.applicationEndDate|date }}</span>
                                    {% endif %}
                                </div>
                                <a href="{{ path('aid_view', {'slug': aid.slug}) }}">
                                    <button class="rf-btn big card-aid-cta">VOIR LA FICHE</button>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    {% if nbRegionalAids is not same as(regionalAids|length) %}
                        <div class="more-results">
                            <a href="{{ app.request.requesturi ~ '&search_form[regionalLimit]=' ~ nextRegionalLimit }}">
                                <button class="rf-btn secondary">
                                    AFFICHER PLUS DE FICHES
                                </button>
                            </a>
                        </div>
                    {% endif %}
                {% endif %}

                {% if nationalAids is not empty %}
                    <hr>
                    <h3 class="rf-pt-3w">
                        <span class="highlighted">{{ nbNationalAids }}</span> {{ isFundingType ? ' dispositifs de financement' : 'actions premier pas' }} pour <span class="highlighted">"{{ environmentalAction }}"</span> au niveau national
                    </h3>
                    <div class="card-aid-list rf-py-5w">
                        {% for aid in nationalAids %}
                            <div class="card-aid">
                                <div class="card-aid-main">
                                    <h3 class="small">{{ aid.name }}</h3>
                                    <ul class="rf-tags-group">
                                        {% for action in aid.environmentalActions %}
                                            <li><span class="rf-tag rf-tag--sm subtitle">{{ action }}</span></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="card-aid-details">
                                    <div class="aid-type">
                                        <div class="icon">
                                            <img src="{{ asset('build/img/finger_up.svg') }}" alt="Type de dispositif">
                                        </div>
                                        <span class="subtitle">{{ aid.type }}</span>
                                    </div>
                                    <div class="funding-type">
                                        <div class="icon">
                                            <img src="{{ asset('build/img/wallet.svg') }}" alt="Type de dispositif">
                                        </div>
                                        <span class="subtitle">{{ aid.funder.name }}</span>
                                    </div>
                                    {% if aid.applicationEndDate is not null %}
                                        <span class="date subtitle">{{ aid.applicationEndDate|date }}</span>
                                    {% endif %}
                                </div>
                                <a href="{{ path('aid_view', {'slug': aid.slug}) }}">
                                    <button class="rf-btn big card-aid-cta">VOIR LA FICHE</button>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    {% if nbNationalAids is not same as(nationalAids|length) %}
                        <div class="more-results">
                            <a href="{{ app.request.requesturi ~ '&search_form[nationalLimit]=' ~ nextNationalLimit }}">
                                <button class="rf-btn secondary">
                                    AFFICHER PLUS DE FICHES
                                </button>
                            </a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
{#    {% else %}#}
{#        <div class="bg-light">#}
{#            <div class="rf-container rf-pt-12w">#}
{#                <div class="rf-grid-row fr-grid-row--center">#}
{#                    <div class="rf-col">#}
{#                        <p>Définissez votre besoin et lancez la recherche !</p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    {% endif %}




{% endblock %}
{% block javascripts%}
    {{ parent() }}
    {{ encore_entry_script_tags('search') }}
{% endblock %}
