{% set current_route = app.request.attributes.get('_route') %}
{% set current_route_params = app.request.attributes.get('_route_params') %}

<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <meta name="msapplication-tap-highlight" content="no" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="referrer" content="origin" />

        <link rel="apple-touch-icon" href="{{ asset('build/icons/apple-touch-icon.png') }}"><!-- 180×180 -->
        <link rel="icon" href="{{ asset('build/icons/favicon.svg') }}" type="image/svg+xml">
        <link rel="shortcut icon" href="{{ asset('build/icons/favicon.ico') }}" type="image/x-icon"><!-- 32×32 -->
        <link rel="manifest" href="{{ asset('build/icons/manifest.webmanifest') }}" crossorigin="use-credentials">

        {% block stylesheets encore_entry_link_tags('app') %}
        <link rel="canonical" href="{% block meta_canonical current_route ? url(current_route, current_route_params) : '' %}" />

        <title>{% block title %}{% block page_title '' %} | France Transition{% endblock %}</title>
        <script src="{{ asset('build/static/tarteaucitron/tarteaucitron.js') }}"></script>
        <!-- Matomo -->
        <script>
            var _paq = window._paq = window._paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="https://stats.data.gouv.fr/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', '194']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <!-- End Matomo Code -->

        <!-- Matomo Tag Manager -->
        <script>
            var _mtm = window._mtm = window._mtm || [];
            _mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.async=true; g.src='https://stats.data.gouv.fr/js/container_IuoUBWtl.js'; s.parentNode.insertBefore(g,s);
        </script>
        <!-- End Matomo Tag Manager -->
        <script type="text/javascript">tarteaucitron.user.hotjarId = 2607198;tarteaucitron.user.HotjarSv = 6;</script>

    </head>
    <body class="{% block body_class '' %}">
        <div class="fr-skiplinks">
            <nav class="fr-container" role="navigation" aria-label="Accès rapide">
                <ul class="fr-skiplinks__list">
                    <li>
                        <a class="fr-link" href="#main">Contenu</a>
                    </li>
                    <li>
                        <a class="fr-link" href="#modal-833">Menu</a>
                    </li>
                    <li>
                        <a class="fr-link" href="#footer">Pied de page</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="wrapper">
            {% include './_common/header.html.twig' %}

            <main role="main" id="main">
                {% block body %}{% endblock %}
            </main>

            {% include './_common/footer.html.twig' %}
        </div>
        {% block javascripts encore_entry_script_tags('app') %}
        <script type="text/javascript" nomodule src="{{ asset('build/static/dsfr.nomodule.min.js') }}"></script>
        <script type="text/javascript">
            (tarteaucitron.job = tarteaucitron.job || []).push('hotjar');
        </script>
    </body>
</html>
